#ccm {
  top:0; left:0;
  margin:2.5%;
  padding-top:2.5rem;
  width:95%; height:90%;
  overflow-y:auto;
  overflow-x:hidden;
}
#header {
  position:fixed;
  z-index:5;
  top:0; left:0;
  font-size:1rem;
  padding:0;
  margin:1.5% 2.5%;
  width:95%;
  display:flex;
  z-index:100;
  flex-direction:row;
  justify-content:space-between;
}
#header a {
  color:#000;
  text-decoration:none;
}
#header .dai:before {
  content:"å¤§";
  position:absolute;
  margin: 0;
  font-size: 200%;
  font-family: "Times New Roman", "Times", serif;
  color:#D24117;
}
.on,
.hold:before,
.dai:before,
.dai:after {
  -webkit-text-stroke: 0.001rem #FFF;
  text-stroke: 0.001rem #FFF;
}
@font-face {
  font-family: "inscrutable";
  src: url(/font/inscrutable.otf);
}
@font-face {
  font-family: "Orchard";
  src: url(/font/Orchard-Linear.otf);
}
.namae,
#ccm .on {
  font-family:"Orchard";
}
#logo {
  z-index:1;
  position:relative;
  margin:1rem 0 2.5rem;
  pointer-events:none;
  font-family: Arial;
  font-size: 2rem;
  font-weight: normal;
  font-weight: 500;
  text-align:center;
}
#logo u {text-decoration:none;}
#logo .hold,
#logo .dai {
  font-style: normal;
  color:#eee;
}
#logo .on {
  font-size: 125%;
  font-style: italic;
  color:#fff;
  -webkit-text-stroke: 0.05rem #000;
  text-stroke: 0.05rem #000;
}
.center {
  position:absolute;
  top:50%; left:50%;
  z-index:10;
  pointer-events:none;
  padding:0; margin:0;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
#message {
  display:inline-block;
  z-index:-1;
  font-size:1rem;
  padding:0.25rem 0.5rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  width:15rem;
  background:#fff;
}
hr, .refine-teims {border:none; border-bottom: 1px dotted #000;}
.refine {
  display:block;
  position:relative;
  clear:both;
  font-size:1rem;
  padding:2%;
  margin-bottom:3rem;
  background:#eee;
}
.refine input[type=radio] {display:none;}
.refine-btn {
  position:relative;
  z-index:2;
  color:#D24117;
  display:inline-block;
  margin:0rem 0.5rem 0.25rem 0;
  padding: 0 0.25rem;
  cursor:pointer;
}
#refine-1:checked ~ .refine-teims:not(.a),
#refine-2:checked ~ .refine-teims:not(.b),
#refine-3:checked ~ .refine-teims:not(.c),
#refine-4:checked ~ .refine-teims:not(.d),
#refine-5:checked ~ .refine-teims:not(.e),
#refine-6:checked ~ .refine-teims:not(.f),
#refine-7:checked ~ .refine-teims:not(.g),
#refine-8:checked ~ .refine-teims:not(.h) {
  display: none;
}
.refine span:before {
	content:'[';
  opacity:1;
  font-weight:500;
  padding-right:0.5rem;
}
.refine span:after {
	content:']';
  opacity:1;
  font-weight:500;
  padding-left:0.5rem;
}
.refine input[type=radio]:checked + .refine-0 b,
.refine input[type=radio]:checked + .refine-1 b,
.refine input[type=radio]:checked + .refine-2 b,
.refine input[type=radio]:checked + .refine-3 b,
.refine input[type=radio]:checked + .refine-4 b,
.refine input[type=radio]:checked + .refine-5 b,
.refine input[type=radio]:checked + .refine-6 b,
.refine input[type=radio]:checked + .refine-7 b,
.refine input[type=radio]:checked + .refine-8 b
{opacity: 1; color:#000;}

.refine b {opacity:0;}

.refine-0,
.refine-1,
.refine-2,
.refine-3,
.refine-4,
.refine-5,
.refine-6,
.refine-7,
.refine-8
{opacity:1;}

.refine-teims {
  display:block;
  position:relative;
  z-index:2;
  clear:both;
  padding:2%;
  margin:1rem 0;
}
.refine-teims p {
  padding:0; margin:0;
  display:inline-block;
}
.refine-teims u {
  text-decoration:none;
}
.refine-teims .name {
  font-size:1rem;
  width:22.5%;
  padding-right:2.5%;
  float:left;
}
.refine-teims .name u {
  font-family:"MS Serif";
  color:#fff;
  -webkit-text-stroke: 0.025rem #000;
  text-stroke: 0.025rem #000;
  font-size:125%;
  text-height:125%;
}
.refine-teims .namae {
  position:absolute;
  text-align:right;
  font-size:2rem;
  top:-2rem; right:2vw;
  z-index:-1;
  color:#fff;
  -webkit-text-stroke: 0.001rem #f6d435;
  text-stroke: 0.001rem #f6d435;
}
.refine-teims .cv {
  font-size:1.75rem;
  width:75%;
  text-decoration:none;
  background-
}
.refine-teims .more {
  font-size:1rem;
  width:95%;
  margin:2% 0;
  padding:2%;
  border:2px solid;
  border-radius:1rem;
  position:relative;
  display:block;
  background:#fff;
}
.refine-teims .more span {
  font-size:125%;
}
.refine-teims .more #question {
  float:right;
}
.refine-teims .more #question a {
  color:#000;
  text-decoration:none;
}
.refine-teims #link a {
  color:#000;
  margin:0 0.25rem;
  padding:0.25rem;
  display:inline-block;
}
.refine-teims #link a:hover {
  color:#D24117;
}
.refine-teims #link .none {
  display:none;
}
.refine-teims a:hover,
.refine-teims .more span:hover {
  color:#25AF5A; cursor:pointer;
  background:#fff;
}
#ccm #none {pointer-events:none;}
#marquee {
  overflow: hidden;
  position:fixed;
  z-index:5;
  width:100%; height:2.75rem;
  padding:0; margin:0;
  bottom:0; left:0;
  color:#fff;
  background:#000;
}
#marquee b {
  position:absolute;
  right:0;
  bottom:0;
  width:100%;
  text-align:center;
  padding:1.5% 0;
  font-size:1.25rem;
  color:#eee;
  font-family:"Orchard";
}
#marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
#marquee > span {
  position: absolute;
  padding:0.25rem;
  font-size:1.5rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#marquee > span:hover {
  animation-play-state: paused;
  cursor: default;
}

#submit input[type="text"],
#submit input[type="name"],
#submit input[type="url"],
#submit textarea {
	padding:1.5%;
	margin:0.01vw 0;
	border:0.1rem solid;
	border-radius:0.5rem;
	font-size:0.75rem;
	width:95%;
}
#submit select {
	margin:1vw;
	padding:0.5%;
	border:0.1rem solid;
	border-radius:0.5rem;
}
#submit button {
	font-size: 1.5rem;
	cursor:pointer;
	width:98.5%;
	margin-bottom:2.5rem;
	padding:0.25rem 0;
	background: #fff;
	color: #000;
	border-radius:2.5rem;
}

@keyframes scroll{
0% { transform: translateX(0)}
100% { transform: translateX(-100%)}
}
@keyframes marquee {
  0% { left: 100%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}
@media screen and (max-width: 500px){
.refine-teims .name {
  font-size:1rem;
  width:100%;
}
.refine-teims .cv {
  font-size:1.5rem;
  width:100%;
}
}