body {
  padding:0; margin:0;
  position:relative;
  top:0; left:0;
  width:100%; height:100%;
}
hr {border:none; padding:0;}
#full {
  position:relative;
  width:100rem; zoom:125%;
  -webkit-overflow-scrolling: touch;
}
#main {
  position:relative;
  float:left;
  width:50rem;
  height:23.5rem;
  background:#fff;
}
#normal {
  position:relative;
  float:left;
  width:25rem;
  height:23.5rem;
  background:#eee;
}
#wide {
  position:relative;
  padding:0; margin:0;
  width:100%;
  height:11.75rem;
  background:#eee;
}
#post h1 {
  pointer-events:none;
  background:#fff;
  border:0.1rem solid;
  border-radius:0.75rem;
  text-align:center;
  font-size: 2.5rem;
  font-weight: 500;
}
#post h2 {
  font-size: 1rem;
  font-weight: 500;
}
#entry i,
#entry b {
  padding:1%;
  font-size:120%;
}
#post h3 {
  position:relative;
  z-index:10;
  padding:0; margin:0;
  pointer-events:none;
  font-size:1.5rem;
  line-height:200%;
  padding:1.25rem 2.5rem;
}
#post #sub {
  display:inline-block;
  padding:0.25rem 0.5rem;
  margin-bottom:0.5rem;
  background-color:#000;
  font-size:120%;
  color:#fff;
}
#post #about {
  font-size:0.75rem;
  border:0.05rem solid;
  border-radius:0.75rem;
}
#post #about h2,
#post #about p {
  padding:0 1rem;
}
#post #about s {
  font-style:normal;
  text-decoration:none;
  padding:0.75rem 1rem 0.25rem;
  font-size:75%;
  display:block;
}
#post input[type="text"],
#post input[type="email"] {
  font-size: 1rem;
  padding:2.5%;
  width:95%;
  border: none;
  border-radius:5px;
}
#post textarea {
  font-size:1.25rem;
  margin:0;
  padding:1.25%;
  width:97.5%;
  height:17rem;
  background-color:#fff;
  border:none;
  border-radius:5px;
  color:#000;
}

#post input[type="radio"] {
  display: none;
}
.radio, .checkbox {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 1.75rem;
  vertical-align: middle;
  cursor: pointer;
}
.radio:after, .checkbox:after {
  position: absolute;
  display: inline-block;
  left:0;
  width: 1.25rem;
  height: 1.25rem;
  margin:-0.25rem 0 0 0 ;
  border: 2px solid #000;
  border-radius: 0.25rem;
  content: '';
}

.radio:before {
  position: absolute;
  top: 50%;
  left: 0.25rem;
  display: block;
  margin-top: -0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #000;
  content: '';
  opacity: 0;
}
input[type=radio]:checked + .radio:before {
  opacity: 1;
}
input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}
#post button {
  border:none;
  color:#fff;
  background:#000;
  font-size:2rem;
  cursor:pointer;
  display:inline-block;
  width:100rem;
}
.center,
#form,
#title {
  position:absolute;
  width:85%;
  z-index:10;
  padding:0; margin:0;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
.center,
#title {
  pointer-events:none;
}
.schedule i {font-style:normal;}
.schedule p {font-size:0.95rem; margin:1rem 0;}
.schedule p i {
  position:relative;
  font-size:120%;
  line-height:175%;
  padding-right:0.25rem;
}
.schedule .chotto:before {
  content:"ちょっとクレイジーな";
  color:#eee; 
  float:left;
  font-size:75%;
  left:0;
  top:-0.25rem;
  padding-right: 0.25rem;
  position:relative;
  font-family:"MS Serif";
  -webkit-text-stroke: 0.025rem #000;
  text-stroke: 0.025rem #000;
}
.schedule .chotto:after {
  content:"あなたの";
  font-size: 100%;
  color:#eee;
  position:absolute;
  top:-0.25rem;
  left:-7rem;
  -webkit-text-stroke: 0.05rem #D24117;
  text-stroke: 0.05rem #D24117;
}

.schedule .yes:after,
.schedule .no:after,
.schedule .or:after {
  position:relative;
  padding-left: 0.25rem;
  font-size:125%;
  color:#eee;
  -webkit-text-stroke: 0.05rem #000;
  text-stroke: 0.05rem #000;
}
.schedule .yes:after {content:"けど、できない";}
.schedule .no:after {content:"けど、気になる";}
.schedule .or:after {content:"けど、やってみたい";}

#link {
  position: absolute;
  margin:0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}
#link:hover {
  cursor:pointer;
  background-color:rgba(225,225,225,0.25);
}
.message {
  font-size:1rem;
  position:relative;
  bottom:0rem;
  padding:0.25rem 0.5rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  background:#fff;
}
#title {
  display:inline-block;
  z-index:0;
  font-size:1rem;
  text-align:center;
  padding:0.25rem 0.5rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  width:15rem;
  background:#fff;
}
#marquee,
#submit {
  overflow: hidden;
  position:relative;
  width:100%; height:3rem;
  padding:0; margin:0;
  top:0; left:0;
  color:#fff;
  background:#000;
  z-index:10;
}
#marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
#marquee > span {
  position: absolute;
  font-size:2rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#submit > span {
  position: absolute;
  font-size:2rem;
  white-space: nowrap;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
#marquee > span:hover {
  animation-play-state: paused;
  cursor: default;
}
@keyframes marquee {
  0% { left: 100%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}

@media screen and (max-width: 950px){
  #full {width:100rem; zoom:1;}
#post button {width:100rem;}
}
@media screen and (max-width: 500px){
  #full {width:50rem; zoom:1;}
#post button {width:50rem;}
}
