body {
  padding:0; margin:0;
  position:relative;
  top:0; left:0;
  background:#eee;
  width:100%; height:100%;
}
@font-face {
  font-family: "Orchard";
  src: url(/font/Orchard-Linear.otf);
}
.thankyou {
  width:100%;
  height:80vh;
  position:fixed;
  z-index:10;
  padding:10vh 0;
  text-align:center;
  font-size:2.5rem;
}
.thankyou b {
  font-family:"Orchard";
  font-size:120%;
  color:#fff;
  -webkit-text-stroke: 0.001rem #000;
  text-stroke: 0.001rem #000;
}
.thankyou p {
  position:absolute;
  top:50%; left:50%;
  width:80%;
  font-weight:500;
  padding:0; margin:0;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  font-family:"Orchard";
  font-size:15vw;
}
.refine {
  padding:0; margin:0;
  position:relative;
  padding-bottom:1rem;
  background:#eee;
  width:100rem; zoom:125%;
  -webkit-overflow-scrolling: touch;
}
.refine input {display: none;}
.refine-btn {
  position:relative;
  z-index:10;
  font-size: 0.85rem;
  border:solid 0.1rem;
  display:inline-block;
  margin:1rem 0 0 0.5rem;
  padding: 0.5rem 1rem;
  background:#fff;
  cursor:pointer;
}
.refine-btn:hover {
  font-style:oblique;
  background:#000;
  color:#fff;
}
#refine-1:checked ~ .refine-teims:not(.art),
#refine-2:checked ~ .refine-teims:not(.music),
#refine-3:checked ~ .refine-teims:not(.edit),
#refine-4:checked ~ .refine-teims:not(.direction),
#refine-5:checked ~ .refine-teims:not(.spot),
#refine-6:checked ~ .refine-teims:not(.life),
#refine-7:checked ~ .refine-teims:not(.members) {
  display: none;
}
a {color:#000; text-decoration:none;}
hr {border:none; clear:both;}
h2 {font-weight:500; color:#fff;}
#ideas {
  margin:0;
  padding:0;
  list-style: none;
}
#ideas li, .refine div {
  margin:0 1.5rem;
  float:left;
  position:relative;
  z-index:10;
}
.text {
  font-size:1.25rem;
  padding:0.5rem 1rem;
  margin-bottom:0;
  text-align:center;
  background:#fff;
  border:0.1rem solid;
  border-radius: 3rem;
}
.name i {font-size:1rem; float:right;}
.copy {
  clear:both;
  color:#000;
  text-align:center;
  font-size: 1.5rem;
  padding-top:2.5rem;
  padding-bottom:1.25rem;
}
#marquee {
  overflow: hidden;
  position:relative;
  z-index:10;
  width:100%; height:2.5rem;
  padding:0; margin:0;
  top:0; left:0;
  background:#000;
}
#marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
#marquee > span {
  position: absolute;
  top:0.25rem;
  font-size:1.25rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#marquee > span:hover {
  animation-play-state: paused;
  cursor: default;
}
.bg_fff {
  pointer-events:none;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  color:#fff;
  z-index:0;
  font-size:3.5rem;
  line-height:8rem;
}
@keyframes marquee {
  0% { left: 100%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}

@media screen and (max-width: 950px){
  .refine {width:100rem; zoom:1;}
}
@media screen and (max-width: 500px){
  .refine {width:50rem; zoom:0.75;}
}