a {color:#000; text-decoration:none;}
hr {border:none;}
#ideas {margin:0 2.5vw 5vw; padding:0; list-style: none;}
#ideas li, .refine div {margin:0 2.5vw; width:auto; float:left;}
.text {font-size:2.5vw; padding:2vw 2.5vw; margin-bottom:0vw; text-align:center;
background: linear-gradient(90deg, #25AF5A, #f6d435, #D24117);
background-size: 500% 500%;
animation: gradientBG 5s ease infinite;
border-radius: 215vw;
}
.name i {font-size:2vw; float:right;}
.back {font-size: 3.5vw; padding: 7.5vw 5vw 0; text-align:center; letter-spacing: 0.1rem; font-weight: 500;}
#disp-box .inside {display: none;}

.refine input {display: none;}
.refine {margin: 0; clear:both;}
.refine-btn {font-size: 2vw; border:solid 0.1vw; display:inline-block; margin:1vw 0 0 2vw; padding: 1vw 2vw; cursor:pointer;}
.refine-btn:hover {font-style:oblique;}
#refine-1:checked ~ .refine-teims:not(.art),
#refine-2:checked ~ .refine-teims:not(.music),
#refine-3:checked ~ .refine-teims:not(.edit),
#refine-4:checked ~ .refine-teims:not(.direction),
#refine-5:checked ~ .refine-teims:not(.spot),
#refine-6:checked ~ .refine-teims:not(.life),
#refine-7:checked ~ .refine-teims:not(.members) {
  display: none;
}
.copy {clear:both; color:#fff; text-align:center; font-size: 2vw; width:100%; padding-top:5vw;}
.top {font-size:5.5vw; position:fixed; top:45%; text-align:center; width:100%}
/* Animation */
.anim-typewriter{
animation: typewriter 5s steps(50) 1s 1 normal both,
blinkTextCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 30em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #000;}
  to{border-right-color: transparent;}
}
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@media screen and (max-width: 500px){
.text {font-size:3.5vw;}
#guest a , #guest a:after , #guest a:before , #guest a span {
 width:15vw; height:15vw;}
#guest span:before{font-size:3vw; width:15vw;}
#guest {width:15vw; height:15vw;}
#guest a span {line-height: 17vw; font-size:10vw;}
.introduce {font-size:3vw; line-height: 7vw; top:-12.5vw; left:30vw; width:55vw; background-color:#f6d435;}
}