body {
  padding:0; margin:0;
  position:relative;
  top:0; left:0;
  width:100%; height:100%;
}
#full {
  position:relative;
  width:100rem; zoom:125%;
  -webkit-overflow-scrolling: touch;
}
#about {
  font-size:0.9rem;
  border:0.05rem solid;
  border-radius:0.75rem;
}
#about h2,
#about p {
  padding:0 1rem;
}
#link {
  position: absolute;
  margin:0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}
#link:hover {
  cursor:pointer;
  background-color:rgba(225,225,225,0.25);
}
#main {
  position:relative;
  float:left;
  width:50rem;
  min-height:23.5rem;
  background:#fff;
}
#normal {
  position:relative;
  float:left;
  width:25rem;
  min-height:23.5rem;
  background:#eee;
}
#wide {
  position:relative;
  padding:0; margin:0;
  width:100%;
  min-height:11.75rem;
  background:#eee;
}
h1 {
  pointer-events:none;
  background:#fff;
  border:0.1rem solid;
  border-radius:0.75rem;
  text-align:center;
  font-size: 2.5rem;
  font-weight: 500;
}
h2 {
  font-size: 1.25rem;
  font-weight: 500;
}
h3 {
  position:relative;
  z-index:10;
  padding:0; margin:0;
  pointer-events:none;
  font-size:1.5rem;
  line-height:200%;
  padding:1.25rem 2.5rem;
}
.center,
#title {
  position:absolute;
  top:50%; left:50%;
  z-index:10;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
.center {
  width:80%;
  padding:0; margin:0;
}
#title {
  width:80%;
  padding:0; margin:0;
}
#title,
.center p,
.center h2,
.center b,
#wide h2,
#wide div
{pointer-events:none;}

.message {
  font-size:1rem;
  position:relative;
  bottom:0rem;
  padding:0.25rem 0.5rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  background:#fff;
}
#title {
  display:inline-block;
  z-index:0;
  font-size:1rem;
  text-align:center;
  padding:0.25rem 0.5rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  width:15rem;
  background:#fff;
}
#marquee {
  overflow: hidden;
  position:relative;
  width:100%; height:3rem;
  padding:0; margin:0;
  top:0; left:0;
  color:#fff;
  background:#000;
  z-index:10;
}
#marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
#marquee > span {
  position: absolute;
  font-size:2rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#marquee > span:hover {
  animation-play-state: paused;
  cursor: default;
}
@keyframes marquee {
  0% { left: 100%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}

@media screen and (max-width: 950px){
  #full {width:100rem; zoom:1;}
}
@media screen and (max-width: 500px){
  #full {width:50rem; zoom:1;}
}
