body {
  padding:0; margin:0;
  position:relative;
  top:0; left:0;
  background:#eee;
  width:100%; height:100%;
}
#plan {
  margin:0; padding:0;
  position:relative;
}
#plan ul {
  padding:0; margin:0;
}
#plan li {
  position:relative;
  list-style: none;
  padding:0;
  margin:1vw;
  font-size:0.75rem;
  width:22.5vw;
  height:22.5vw;
  background:#fff;
  border:0.1rem solid;
  border-radius:0.5rem;
  float:left;
  position:relative;
  z-index:5;
}
#plan .title {
  border-bottom:0.1vw solid;
}
#plan .who {
  margin-top:0.5rem;
  display:block;
}
#plan .who i {
  font-size:120%; color:#000;
  padding:0.25rem;
}
#plan .date,
#plan .where {
  position:relative;
  z-index:10;
  pointer-events:none;
  margin:0 0.25rem;
  display:inline-block;
}
#plan .why {
  position:absolute;
  z-index:10;
  pointer-events:none;
  bottom:0; margin:0;
  padding:0.25rem;
  background-color:rgba(255,255,255,0.25);
}
#plan .pdf {
  position:absolute;
  z-index:-1;
  margin:0; padding:0;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  width:55%;
  top: 55%; left: 50%;
}
#plan li a {
  position: absolute;
  z-index:0;
  margin:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-indent:-999px;
}
#plan li a:hover {
  background-color:rgba(255,255,255,0.5);
}
#none {display:none;}
#bg_000 {
  overflow:hidden;
  position:relative;
  z-index:10;
  width:100%; height:2rem;
  padding:0; margin:0;
  top:0; left:0;
}

#bg_000::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
#bg_000 > span {
  position: absolute;
  top:0.2rem;
  font-size:1rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
#bg_000 > span:hover {
  animation-play-state: paused;
  cursor: default;
}
@keyframes marquee {
  0% { left: 100%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}

@media screen and (max-width: 1000px){
#plan li {
  width:30vw; height:30vw;
}
}
@media screen and (max-width: 750px){
#plan li {
  width:47vw; height:47vw;
}
}
@media screen and (max-width: 500px){
#plan li {
  width:97vw; height:97vw;
}
}
