body {
  padding:0; margin:0;
  position:relative;
  top:0; left:0;
  background:#eee;
  width:100%; height:100%;
}
a {color:#000; text-decoration:none;}
h2 {font-weight:500; color:#fff;}
hr {border:none; clear:both;}
#plan {
  margin:0; padding:0;
  position:relative;
  background:#000;
  width:100rem; zoom:125%;
  -webkit-overflow-scrolling:touch;
}
#plan ul {padding:0; margin:0;}
#plan li {
  list-style: none;
  margin:0.4rem;
  font-size:0.75rem;
  width:24rem;
  height:15rem;
  background:#fff;
  border:0.1rem solid;
  border-radius:1rem;
  float:left;
  position:relative;
  z-index:5;
}
#plan .title {
  border-bottom:0.1vw solid;
  font-size:0.75rem;
}
#plan .who {
  position:absolute;
  z-index:10;
  bottom:0;
  margin:0.5rem 1rem;
  display:block;
}
#plan .who i {
  font-size:125%; color:#000;
  background-color:rgba(255,255,255,0.5);
  padding:0.25rem;
}
.plan {
  position:relative;
  display:block;
  z-index:1;
  padding:0 0.5rem;
  margin:0.5rem;
  overflow:auto;
  height:10rem;
}
.plan .date {float:left;}
.plan .where {float:right;}
.plan .date,
.plan .where {
  position:relative;
  background:#000;
  color:#fff;
  display:inline-block;
  padding:0.25rem;
  margin-bottom:0.5rem;
}
.plan p {
  clear:both;
  padding:0.5rem 0; margin:0.5rem 0;
  white-space:pre-wrap;
}
#none {display:none;}
#bg_000 {
  overflow:hidden;
  position:relative;
  z-index:10;
  width:100%; height:2.5rem;
  padding:0; margin:0;
  top:0; left:0;
}

#bg_000::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
#bg_000 > span {
  position: absolute;
  top:0.25rem;
  font-size:1.25rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
#bg_000 > span:hover {
  animation-play-state: paused;
  cursor: default;
}
@keyframes marquee {
  0% { left: 100%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}

@media screen and (max-width: 950px){
  #plan {width:100rem; zoom:1;}
}
@media screen and (max-width: 500px){
  #plan {width:50rem; zoom:0.75;}
}