#programs {
  position:relative;
  top:0; left:0;
  padding:2.5rem 0;
  margin:0;
  overflow-y:auto;
  overflow-x:hidden;
}
#header {
  position:fixed;
  z-index:5;
  top:0; left:0;
  font-size:1rem;
  padding:0;
  margin:1.5% 2.5%;
  width:95%;
  display:flex;
  z-index:100;
  flex-direction:row;
  justify-content:space-between;
}
#header a {
  color:#000;
  text-decoration:none;
}
#header .dai:before {
  content:"å¤§";
  position:absolute;
  margin: 0;
  font-size: 200%;
  font-family: "Times New Roman", "Times", serif;
  color:#D24117;
}
.on,
.hold:before,
.dai:before,
.dai:after {
  -webkit-text-stroke: 0.001rem #FFF;
  text-stroke: 0.001rem #FFF;
}
@font-face {
  font-family: "inscrutable";
  src: url(/font/inscrutable.otf);
}
@font-face {
  font-family: "Orchard";
  src: url(/font/Orchard-Linear.otf);
}
.namae,
#programs .on {
  font-family:"Orchard";
}
#logo {
  z-index:1;
  position:relative;
  margin:2.5rem 0 2.5rem;
  pointer-events:none;
  font-family: Arial;
  font-size: 2rem;
  font-weight: normal;
  font-weight: 500;
  text-align:center;
}
#logo u {text-decoration:none;}
#logo .hold,
#logo .dai {
  font-style: normal;
  color:#eee;
}
#logo .on {
  font-size: 125%;
  font-style: italic;
  color:#fff;
  -webkit-text-stroke:0.05rem #000;
  text-stroke:0.05rem #000;
}
.center {
  position:absolute;
  top:50%; left:50%;
  z-index:10;
  pointer-events:none;
  padding:0; margin:0;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
#message {
  display:inline-block;
  z-index:-1;
  font-size:1rem;
  padding:0.25rem 0.5rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  width:15rem;
  background:#fff;
}
#information {
  position:relative;
  top:0; left:0;
  padding:2%;
}
.org {
  padding:2%;
  border:2px solid;
  border-radius:1rem;
}
.search-box_label {
  position:absolute;
  z-index:-1;
  right:5%;
  margin:0;
  margin-top:-0.5rem;
  padding:0;
  font-size:1.5rem;
  font-weight:500;
  color:#fff;
  -webkit-text-stroke: 0.05rem #000;
  text-stroke: 0.01rem #000;
  
}
#programs ul {padding: 0; margin:0 0 0.5rem;}
#programs li {list-style: none;}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  background: #D24117;
  color: #fff;
	text-shadow:0.1rem 0.1rem #000;
}
form ul {
  display: flex;
  flex-wrap: wrap;
}
.label {
  display: inline-block;
  margin: 0.25rem;
  padding:0.25rem 0.5rem;
  font-size:1rem;
  text-align: center;
  border-radius: 2rem;
  color: #000;
  background:#fff;
	text-shadow:0.1rem 0.1rem #fff;
}
.year .label {
  border: 1px solid #25AF5A;
}
.how .label {
  border: 1px solid #f6d435;
}
.state .label {
  border: 1px solid #000;
}
.reset a, button {
  display:inline-block;
  width: 100%;
  font-size:1.25rem;
  text-align:center;
  padding:0.25rem 0;
  margin: 0.25rem auto 0;
  background: #eee;
	text-shadow:0.1rem 0.1rem #fff;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  border: 1px solid #000;
}
.label:hover,
.reset a:hover, button:hover {
  color:#fff;
  cursor:pointer;
  background: #D24117;
	text-shadow:0.1rem 0.1rem #000;
}

.list {
  display:block;
  position:relative;
}
.list ul {
  display:flex;
  align-content:flex-start;
  flex-direction:row-reverse;
  flex-wrap: wrap-reverse;
}
.list li {
  width:100%;
  position:relative;
  font-size:1rem;
	padding:0 0.5rem;
	margin:0.25rem 2%;
  border:2px solid #000;
  border-radius:0.5em;
}
.list .what {
  position:relative;
  z-index:2;
  color:#fff;
  -webkit-text-stroke: 0.05rem #D24117;
  text-stroke: 0.01rem #D24117;
  pointer-events:none;
}
.list .date {
  font-size:75%;
  position:absolute;
  top:0.5rem;
  right:0.5rem;
  background:#fff;
  z-index:3;
  pointer-events:none;
}
.list .info {
  overflow: hidden;
  position:relative;
  font-size:85%;
  z-index:5;
  margin:0 0 0.5rem;
  bottom:0; left:0;
  color:#000;
  border:1px solid #000;
  border-radius:0.5em;
  background-color:rgba(255,255,255,0.75);
}
.list .info span {
  position:relative;
  z-index:1;
  display:inline-block;
  padding:0.5rem;
  pointer-events:none;
  white-space:pre-wrap;
}
.list .info a {
  position: absolute;
  top: 0; left: 0;
  width:100%;
  height: 100%;
  background:#fff;
  text-indent:-999px;
  z-index: 0;
  border-radius:0.5em;
}
.list .info .how {
  display:block;
  font-size:90%;
  padding:0.25rem 0 0;
  color:#f6d435;
  background-color:rgba(255,255,255,0.75);
}
.list a {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  background:#eee;
  text-indent:-999px;
  z-index: 0;
  border-radius:0.5em;
}
.list #active a {
  background:#f6d435;
}
.list #tobe a {
  background:#25AF5A;
}
.list a:hover,
.list #active a:hover,
.list #tobe a:hover {
  background:#D24117;
}
.is-hide,
.nothing,
.none
{display:none;}

#marquee {
  overflow: hidden;
  position:fixed;
  z-index:5;
  width:100%; height:2.75rem;
  padding:0; margin:0;
  bottom:0; left:0;
  color:#fff;
  background:#000;
}
#marquee b {
  position:absolute;
  right:0;
  bottom:0;
  width:100%;
  text-align:center;
  padding:1.5% 0;
  font-size:1.25rem;
  color:#eee;
  font-family:"Orchard";
}
#marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
#marquee > span {
  position: absolute;
  padding:0.25rem;
  font-size:1.5rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#marquee > span:hover {
  animation-play-state: paused;
  cursor: default;
}
#weare {
  width:90%;
  padding:2.5% 2.5% 0;
  margin:2.5% auto 0;
}
#weare h1 {
  font-size:4.5vw;
  text-align:center;
  padding:0 0 7.5%;
}
#weare #jp {
  font-size:1.25rem;
  border:0.2rem solid;
  padding:0 1.5rem;
  margin:2.5%;
  background:#fff;
  border-radius:1rem 1.25rem 0.75rem 1.5rem;
  position:relative;
  z-index:1;
}
#weare #en {
  font-size:1.5rem;
  padding:2.5% 2.5% 0;
  margin:5% 0 0;
  position:relative;
  z-index:1;
  font-family: Arial;
}
.bg_fff {
  pointer-events:none;
  text-align:center;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  color:#fff;
  z-index:0;
  font-size:3.5rem;
  line-height:8rem;
  margin:0;
  padding:0;
  overflow: hidden;
}
@keyframes scroll{
0% { transform: translateX(0)}
100% { transform: translateX(-100%)}
}
@keyframes marquee {
  0% { left: 100%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}

@media screen and (max-width: 500px){
  #information {zoom:0.75;}
}
