body {font-family: YuGothic, Yu Gothic",Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; background:#fff;}
#what, #value, #image span, #top, #date, #who {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
#what, #you {position:fixed; padding:1%;}
#what, #menu {right:1vw; font-size:0.8rem; height:30vh; z-index:10;}
#info {font-size:7.5vw; width:75%; padding-top:5%; font-family: 'Source Serif Pro', serif; letter-spacing:0.25vw;}
#info u {font-weight:600;}
#info i {letter-spacing:0.5vw;}
#info b {font-weight:900;}

#date b {font-weight:500;}
.title {font-size:120%; top:5%;}
.one {top:2.5%;}
.two {top:17.5%;}
.three  {bottom:20%;}
.four {bottom:2.5%;}
#you {left:0; bottom:2vw; font-size:1rem; width:90%; margin:0 5%; z-index:10;}
.link {float:right; text-align:right; width:20rem; font-size:75%; margin:0.5vw 2.5% 0;}
.link a {text-decoration:none; color:#000; border:0.1rem solid; padding:2% 4%; border-radius:50%;}
#do {
	font-size:1.1rem;
	position:relative;
	top:0; left:0;
	width:85vw; height:85vh;
	margin-bottom:7rem;
 display:flex;
	overflow-x:scroll;
}
#value {padding:5% 2.5% 2.5% 5%;}

#top {
	top:5%; left:5%;
	position:fixed;
	font-size:1.1rem;
}
#inside {
	position:absolute;
	float:right;
	top:0; right:0;
}
#menu {
	position:relative;
	width:90vw; height:85vh;
	margin:2vw 0;
}
#who {padding:15%; float:right;}
#who a {
	font-size:1.5rem;
	text-decoration:none;
	color:#000;
	cursor:pointer;
}
.tba {
  pointer-events:none;
  user-select: none;
 -webkit-filter: blur(0.2rem);
 filter: blur(0.2rem);
 animation : back 1s linear;
}
#date {
	position:absolute;
	right:1vw;
	font-size:0.9rem;
}
#image {
	background:#fff;
	font-size:1.1rem;
	position:relative;
	z-index:10;
	top:0; left:0;
	width:85vw; height:85vh;
 -webkit-filter: blur(0.2rem);
 filter: blur(0.2rem);
 animation : back 1s linear;
}
#image img {
	margin:auto;
	padding:5%;
	width:auto; max-width:70%;
	height:auto; max-height:80%;
}
#image:hover {
 -webkit-filter: blur(0);
 filter: blur(0);
 animation : blur 1s linear;
}
#image p {
	text-align:center;
	z-index:100;
	width:100%; height:100%;
	pointer-events:none;
	position:absolute;
	top:50%; left:50%;
	transform:translateY(-50%) translateX(-50%);
	-webkit-transform:translateY(-50%) translateX(-50%);
}
#image span {
	position:absolute;
	top:5%; left:5%;
	z-index:100;
	font-size:75%;
}
@keyframes blur {
0% {
 -webkit-filter: blur(0.2rem);
 filter: blur(0.2rem);
}
100% {
 -webkit-filter: blur(0);
 filter: blur(0);
}
}
@keyframes back {
100% {
 -webkit-filter: blur(0.2rem);
 filter: blur(0.2rem);
}
0% {
 -webkit-filter: blur(0);
 filter: blur(0);
}
}
@media screen and (max-width: 900px){
#what, #you, #do {font-size:75%;}
#do {margin-left:2.5vw; width:80vw; height:75vh;}
}
#image {
 -webkit-filter: blur(0rem);
 filter: blur(0rem);
 animation : back 0s linear;
}
#image:hover {
 -webkit-filter: blur(0);
 filter: blur(0);
 animation : blur 0s linear;
}
@media screen and (max-width: 450px){
#what, #you, #do {font-size:55%;}
#do {margin-top:5vw; height:70vh;}
}