body {
	margin:0; padding:0;
	overflow:hidden;
}

.enter {
	position:fixed;
	z-index:20;
	top:-2.5rem; left:-0.5rem;
}
.otobuil {right:0;}

#on {
	display:block;
	position:fixed;
	z-index:50;
	width:100vw;
	height:100vh;
	font-size:1.25rem;
 font-family:"Hiragino Maru Gothic Pro","Hiragino Kaku Gothic Pro","HGMaruGothicMPRO";
}
#on p {margin:5%; padding:1% 2%; background:yellow; display:inline-block;}
#on #menu a {
	background:yellow;
	animation: down 1s ease-out forwards;
	border:none;
}
#on #menu a:hover,
.close:hover {
	color:green;
	cursor:pointer;
	box-shadow: 0 0 2rem yellow, 0 0 5rem yellow;
	animation: try 1s ease-out forwards;
}
#down {
	position:fixed;
	z-index:1;
	bottom:0; left:0;
	display:block;
	width:100%;
	height:15vh;
}
#down a {
	color:#fff;
	position: absolute;
	text-align: center;
	width:100%;
	height:100%;
	line-height:15vh;
}
#down a:hover,
.performance .close:hover {
	text-shadow: 0 0 1rem yellow, 0 0 1rem yellow;
	cursor:pointer;
}
#down a::before {
	content: "";
	position:absolute;
	color:#fff;
	text-shadow: 0 0 0 #fff, 0 0 0 #fff;
	background:linear-gradient(green 0%, #fff);
	top: 0; right:0; bottom:0; left:0;
	z-index:-1;
	transform-origin: bottom;
	animation: front 0.025s ease-out forwards;
}
#down a:hover::before {
	pointer-events:none;
	animation: back 0.1s ease-out forwards;
}
#onstage {
	position:absolute;
	z-index:20;
	display:block;
	left:65%;	top:75%;
	font-size:1rem;
	text-align:center;
	width:10rem;
 animation: shiba 25s linear infinite;
}
#onstage a {
	color:#000;
 display : inline-block;
	background:yellow;
	text-decoration:none;
	padding:5% 10%;
}
.FadeOut.fadeup  {
	animation: fadeup-keyframes 3s ease 0s 1 forwards;
}
.FadeOut.fadeup #up,
.FadeOut.fadeup #enter {
	animation: hidden 3s ease 0s 1 forwards;
}

.performance {
	position:fixed;
	z-index:100;
	margin:0; padding:0;
	width:100%; height:100vh;
	top:0; left:0;
}
.performance p {
	position: fixed;
	margin:0; padding:0;
	background-color:rgba(255,255,255,1);
	z-index:100; font-size:1.25rem;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
	width:85%; height:85%;
	top: 50%; left: 50%;
	border-radius:5vw;
}
.performance iframe {
	width:100%; height:100%;
	border-radius:5vw;
	border:none;
}
.performance .close {
	position:absolute;
	color:green;
	z-index:10;
	font-size:7.5vw;
	padding:2.5% 5%;
	top:0; left:0;
	width:100%; height:100vh;
}

@keyframes try {
0% {box-shadow: 0 0 0 yellow, 0 0 0 yellow;}
100% {box-shadow: 0 0 2rem yellow, 0 0 5rem yellow;}
}
@keyframes down {
0% {box-shadow: 0 0 2rem yellow, 0 0 5rem yellow;}
100% {box-shadow: 0 0 0 yellow, 0 0 0 yellow;}
}
@keyframes front {
0% {transform: scaleY(1) perspective(5vw) rotateX(0deg);}
100% {transform: scaleY(0.1) perspective(5vw) rotateX(0deg);}
}
@keyframes back {
0% {transform: scaleY(0.1) perspective(5vw) rotateX(0deg);}
100% {transform: scaleY(1) perspective(5vw) rotateX(0deg);}
}


@keyframes fadeup-keyframes {
0% {opacity: 1;	z-index:1; transform:scale(1)}
100% {
	opacity: 1;	z-index:-1;
	pointer-events:none;
	background:green;
	transform:scaleX(2.5);
	transform:scaleY(1.25);
	left:0%; top:-12.5%;
}
}
@keyframes hidden {
0% {opacity: 1; transform:scale(1)}
100% {
	opacity: 0;
	pointer-events:none;
	transform:scaleX(2.5);
}
}

@media screen and (max-width: 720px){
#on {font-size:3vw;}
#onstage {font-size:3vw; left:55%; top:85%;}
}
@media screen and (max-width: 500px){
#onstage {left:50%; top:70%;}
.enter {width:75vw; top:-1rem;}
}