.fontmotion {
  animation:1s linear infinite fontmotion;
}

@font-face {
  font-family: "Quarantype-Oblique";
  src: url(/font/Quarantype-Oblique.otf);
}
@font-face {
  font-family: "Quarantype";
  src: url(/font/Quarantype-Regular.otf);
}
@font-face {
  font-family: "Orchard";
  src: url(/font/Orchard-Linear.otf);
}
@font-face {
  font-family: "Kipper";
  src: url(/font/Kipper.otf  );
}
@font-face {
  font-family: "floraandfauna";
  src: url(/font/floraandfauna.otf);
}
@font-face {
  font-family: "inscrutable";
  src: url(/font/inscrutable.otf);
}

@-webkit-keyframes fontmotion {
  0% {
    font-style:normal;
    font-family: "Quarantype-Oblique";
  }
  10% {
    font-style:italic;
    font-family: "Quarantype";
    font-stretch: 100%;
  }
  20% {
    font-style:oblique;
    font-family: "Orchard";
    font-stretch: 150%;
  }
  30% {
    font-style:oblique -30deg;
    font-family: "Kipper";
    font-stretch: 125%;
  }
  40% {
    font-style:normal;
    font-family: "floraandfauna";
    font-stretch:75%;
  }
  50% {
    font-style:italic;
    font-family: "Quarantype-Oblique";
    font-stretch: 50%;
  }
  60% {
    font-style:oblique 50deg;
    font-family: "Quarantype";
    font-stretch: 100%;
  }
  70% {
    font-style:normal;
    font-family: "Orchard";
    font-stretch: 125%;
  }
  80% {
    font-style:oblique -90deg;
    font-family: "Kipper";
    font-stretch: 200%;
  }
  90% {
    font-style:italic;
    font-family: "floraandfauna";
    font-stretch: 150%;
  }
  100% {
    font-style:oblique 60deg;
    font-family: "inscrutable";
    font-stretch: 75%;
  }
}
