body {
  margin: 0;
  padding: 0;
}

#container {
  font-size: 100px;
  box-sizing: border-box;
  word-break: break-all;
  float: left;
  text-align: left;
}

#container p {
  font-size: 50%;
}

.blurry {
  color: transparent;
  font-family: sans-serif;
}

.blurry-r {
  color: transparent;
  font-family: serif;
}
