body {
  margin: 0;
  padding: 0;
}

#container {
  font-size: 10vw;
  box-sizing: border-box;
  word-break: break-all;
  float: left;
  text-align: left;
  color: rgba(0, 100, 100, 1);
}

#container p {
  font-size: 50%;
}
#container i {
  font-family: serif;
}
#container a {
  padding: 0 1.25vw;
  transition:.5s all;
}
#container a:hover {
  color:#fff;
  background: rgba(0, 100, 100, 1);
  transition:1s all;
}

.blurry {
  color: transparent;
  font-family: sans-serif;
  transition:1s all;
}
.blurry-r {
  color: transparent;
  font-family: serif;
  transition:1s all;
}

.blurry:hover,
.blurry-r:hover {
  color: #fff;
  -webkit-text-stroke: 0.2vw rgba(0, 100, 100, 1);
  text-stroke: 0.2vw rgba(0, 100, 100, 1);
  transition:.5s all;
}
