body {padding:0; margin:0;}
#book {
    position: relative;
    clear:both;
    width:100%;
    margin-bottom:1.25vw;
}
#book h1 b {
    font-family: "Orchard";
    font-size:150%;
}
#book u {
    font-family: "MS Sans Serif";
    padding-right: 0.5vw;
}
#book b {
    font-size:125%;
}
#book b i {
    font-family: "ＭＳ Ｐ明朝","MS PMincho";
    font-size:125%;
    padding-right: 0.5vw;
}
#book h1 b,
#book b i {
    color:#fff;
    -webkit-text-stroke: 0.1vw #000;
    text-stroke: 0.1vw #000;
}

#day {
  position:relative;
  font-family: "ＭＳ Ｐ明朝","MS PMincho";
}
#day h1 {
    position:absolute;
    z-index: 0;
    font-size:2.5vw;
    top:0; left:0;
    margin:0;
    padding:1.5vw 2.5vw;
    pointer-events:none;
}
#day h2 {
  font-family: "Kipper";
  position:absolute;
  z-index: 0;
  top:0; right:0;
  transform: scale(1, 2);
  padding:1.25vw 2.5vw;
  font-size:2.5vw;
}
#day:hover {zoom:2; height:auto;}
#ticket {
  position: relative;
  z-index: 1;
  top:0; left:0;
  margin:0 auto;
  padding:1.25vw;
  padding-left:5%;
  width:60%;
  z-index:10;
  font-size:1.5vw;
  text-align:left;
  font-family: "ＭＳ Ｐ明朝","MS PMincho";
}
#ticket p {text-align: center; margin: 1vw;}
#day span,
#day a {
  font-size:110%;
  text-decoration:none;
  color:#000;
  background:#fff;
  border:0.01vw solid;
  padding:0 0.5vw;
  margin:0 0.5vw;
  border-radius: 1vw;
  animation:1s ease-in 1s infinite bound;
}
#day span:hover,
#day a:hover {
  color:#eee;
  cursor:pointer;
  background:rgb(129, 108, 102);
}

@media screen and (max-width: 900px){
#main #programs {
  width:80%;
  zoom:125%;
  height:auto;
}
}
