body {padding:0; margin:0;}
#link {
  position: absolute;
  margin:0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}
#link:hover {
  cursor:pointer;
  background-color:rgba(225,225,225,0.25);
}
#top {
  color:#000;
  background: #eee;
  width:100%;
  height:7.5vw;
  padding:0.5vw 0;
  margin:0 auto;
  position: relative;
  text-align: center;
}
#visual {
  background-image: url(http://otobuilding.com/logo/main.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
  width:35vw; height:35vw;
  margin:2.5vw;
  border-radius:2.5vw;
  float:left;
  position:relative;
}
#logo, #inside {
  position:absolute;
  z-index:1;
  padding:0; margin:0;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  font-weight: normal;
  font-weight: 500;
}
#visual #inside {
  font-size: 20vw;
  top:50%; left:50%;
  text-align:center;
}
#top #logo {
  font-family: Arial;
  pointer-events: none;
  font-size: 2vw;
  line-height: 200%;
  width:90%;
  top:50%; left:47.5%;
  text-align:center;
}
#logo b {
  font-size: 125%;
  font-style: italic;
  color:#fff;
  -webkit-text-stroke: 0.125vw #000;
  text-stroke: 0.125vw #000;
}
#logo i {
  padding-right:0.25vw;
}
.hold, .dai {
  color:#fff;
  letter-spacing: 0rem;
}
.hold:before {
  content:"hold";
  color:#555;
  font-style:italic;
  position:absolute;
  font-weight: 555;
  margin-top:0.5vw;
  margin-left:-0.5vw;
}
.dai:before {
  content:"大";
  position:absolute;
  margin: 0 1vw;
  font-size: 200%;
  font-family: "Times New Roman", "Times", serif;
  color:#D24117;
}
.on {
  padding-left:1.5vw;
}
.by {
  font-family: "Times New Roman", "Times", serif;
  font-size: 75%;
}
.on,
.hold:before,
.dai:before,
.dai:after,
.two:after {
  -webkit-text-stroke: 0.125vw #FFF;
  text-stroke: 0.125vw #FFF;
}
.two:after {
  content:"2021";
  font-size:75%;
  position:absolute;
  z-index:1;
  font-style:normal;
  margin-left:-1.25vw;
  margin-top:-1vw;
}
#copy {
  position:relative;
  font-family: "floraandfauna";
  width:55.5vw; height:35vw;
  margin:2.5vw 1.25vw;
  float:left;
  font-size:2vw;
  font-weight:900;
}
#copy h1 {
  font-family: "Kipper";
  transform: scale(1, 2);
  line-height:250%;
  padding:0.25rem 0; margin:0;
  font-size:4vw;
}
#main b,
#logo b,
#schedule b
{font-family: "Orchard";}
#main, #text {
  clear: both;
  position:relative;
  width: 100%;
  margin:0;
  padding:0;
}
#left {
  float:left;
}
#right {
  float:right;
}
#left, #right {
  width:45vw;
  margin:0 auto;
  font-family: "Yu Gothic UI";
  position:relative;
}
#main #left,
#main #right {height:58vw;}

#main #left #inside {
  width:90%;
  height: 85%;
  top:55%; left:50%;
  writing-mode: vertical-rl;
  border-radius:1.25vw;
}
#main #left #logo {
  font-family: "hksoukk";
  top:50%; left:52.5%;
  font-size: 10vw;
  height:100%;
  text-align:center;
}
#left #title {
  position:absolute;
  left:0; top:0;
  font-size:2.5vw;
  padding:1vw; margin:0;
}
#left #sub {
  position:absolute;
  right:-2.5vw; top:0;
  font-size:1.25vw;
  padding:1vw 0; margin:0;
}
#main #right #inside {
  width:85%;
  height: 100%;
  font-size:1.62vw;
  overflow-x:auto;
  padding: 2.5vw;
  top:42.5%; left:50%;
  border:solid 0.25vw #000;
  border-radius:1.25vw;
}
#main #right #inside p {
  width: 75%;
  font-size:120%;
  z-index:10;
  position:relative;
  left:4.5vw;
  border-radius: 2vw;
  -moz-border-radius: 2vw;
  -webkit-border-radius: 2vw;
  font-family: "YuGothic","Yu Gothic","游ゴシック体";
  margin:0 0 2vw;
  background-color:rgba(225, 225, 200, 0.5);
  padding:2.5vw;
}
#main #right #inside p:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 2vw;
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-right: 5vw solid rgba(225, 225, 200, 0.5);
  border-bottom: 2vw solid transparent;
}
#main #right #inside h1 {
    position:fixed;
    font-size:4.5vw;
    top:0; left:0;
    z-index: 5;
    margin:0;
    padding:2.5vw 0;
    pointer-events:none;
  writing-mode: vertical-rl;
}
#main #right #inside b,
#profile h1 b,
#profile b i {
    color:#fff;
    font-size:150%;
    -webkit-text-stroke: 0.1vw #000;
  text-stroke: 0.1vw #000;
}
#profile b i {
  font-family: "ＭＳ Ｐ明朝","MS PMincho";
}
#main #right #inside #profile {
  min-height: 95%;
  top:1vw;
  background:#f6d435;
}

#profile {
  position:relative;
  text-align:left;
  padding:10%;
  width: 80%;
  font-family: "ＭＳ Ｐ明朝","MS PMincho";
  -moz-border-radius: 5vw;
  -webkit-border-radius: 5vw;
  border-radius: 7.5vw;
}
#profile h1 {
    position:absolute;
    font-size:5vw;
    top:0; left:0;
    z-index: 5;
    margin:0;
    padding:2.5vw;
    pointer-events:none;
  writing-mode: vertical-rl;
}
#profile h2 {
  font-family: "Kipper";
  position:absolute;
  top:2.5vw; right:2.5vw;
  transform: scale(1, 2);
  padding:0; margin:0;
  font-size:4vw;
}
#profile span {
  font-size:125%;
  color:#000;
  background:#fff;
  padding:0 1vw;
  margin-right:0.5vw;
  border-radius: 1vw;
  animation:1s ease-in 1s infinite bound;
}
#profile span:hover {
  color:#eee;
  cursor:pointer;
  background:rgb(129, 108, 102);
}
#profile #about b {
    font-size:150%;
}
#profile #about i {
  display:block;
    font-size:180%;
}
#text {
  font-size:2vw;
  text-align: center;
}
#text #left,
#text #right
{padding:0 0 2vw;}
#text h1 {
    clear:both;
  font-size:4vw;
  font-family: "Kipper", "hksoukk";
}
#text h1 i {
  font-size:75%;
  font-family:"floraandfauna";
  font-weight:900;
}
#notice {
  color:#000;
  background:#eee;
  width:100%;
  padding:0.5vw 0;
  margin:0 auto;
  position: relative;
  text-align: center;
}
.cocoro {
  font-size:125%;
  font-family: "ＭＳ Ｐ明朝","MS PMincho";
  padding:0 0.1vw;
  position:relative;
  display:inline-block;
  pointer-events: none;
  transform: scale(1, 1) translate(0,0vw);
  animation:1s ease-in 1s infinite bound;
}
.cocoro:after {
  content: "心";
  font-size:30%;
  position:absolute;
  padding:0; margin:0;
  transform:translate(-50%,-50%);
  top:50%; left:50%;
  -webkit-transform:translate(-50%,-50%);
}
@-webkit-keyframes bound {
  0% {transform: scale(1, 1) translate(0,0);
  font-family: "MS Sans Serif";}
  25% {transform: scale(0.75, 1.25) translate(0,-0.25vw);
  font-family: "ＭＳ Ｐ明朝","MS PMincho";}
  50% {transform: scale(1, 1) translate(0,0);
  font-family: "YuGothic","Yu Gothic","游ゴシック体";font-weight: bold;}
  75% {transform: scale(1, 0.75) translate(0,0.25vw);
  font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN";}
  100% {transform: scale(1, 1) translate(0,0);
  font-family: "YuGothic","Yu Gothic","游ゴシック体"; font-weight: lighter;}
}

@media screen and (max-width: 900px){
#copy {
  font-family: "Quarantype";
}
#copy h1,
#profile h1,
#main #right #inside h1
{zoom:75%;}
}