@font-face {
  font-family: "inscrutable";
  src: url(/font/inscrutable.otf);
}
@font-face {
  font-family: "Orchard";
  src: url(/font/Orchard-Linear.otf);
}

#programs {
  top:0; left:0;
  padding:2.5rem 0;
  margin:0;
  overflow-y:auto;
  overflow-x:hidden;
}
#header {
  position:fixed;
  z-index:5;
  top:0; left:0;
  font-size:1rem;
  padding:0;
  margin:1.5% 2.5%;
  width:95%;
  display:flex;
  z-index:100;
  flex-direction:row;
  justify-content:space-between;
}
#header a {
  color:#000;
  text-decoration:none;
}
#header .dai:before {
  content:"å¤§";
  position:absolute;
  margin: 0;
  font-size: 200%;
  font-family: "Times New Roman", "Times", serif;
  color:#D24117;
}
.on,
.hold:before,
.dai:before,
.dai:after {
  -webkit-text-stroke: 0.001rem #FFF;
  text-stroke: 0.001rem #FFF;
}

.namae,
#programs .on {
  font-family:"Orchard";
}
#logo {
  z-index:1;
  position:relative;
  margin:2.5rem 0 2.5rem;
  pointer-events:none;
  font-family: Arial;
  font-size: 2rem;
  font-weight: normal;
  font-weight: 500;
  text-align:center;
}
#logo u {text-decoration:none;}
#logo .hold,
#logo .dai {
  font-style: normal;
  color:#eee;
}
#logo .on {
  font-size: 125%;
  font-style: italic;
  color:#fff;
  -webkit-text-stroke:0.05rem #000;
  text-stroke:0.05rem #000;
}
.center {
  position:absolute;
  top:50%; left:50%;
  z-index:10;
  pointer-events:none;
  padding:0; margin:0;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

#message {
  display:inline-block;
  z-index:-1;
  font-size:1rem;
  padding:0.25rem 0.5rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  width:15rem;
  background:#fff;
}

#information {
  padding:1rem;
  border-radius:1rem;
}
#programs ul,
#information ul {
  padding:0;
  margin:0;
}
#programs li,
#information li {list-style: none;}

#information p {
  font-size:0.95rem;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  border: 1px solid #000;
}
input[type="radio"]:checked + label {
  background: #D24117;
  color: #fff;
  text-shadow:0.1rem 0.1rem #000;
}

.org {
  width:97%;
  max-width:750px;
  padding:1.25%;
  margin: auto;
  background:#fff;
  border:2px solid #000;
  border-radius:0.5rem;
}
.org p {
  padding: 1.25%;
  font-size: 1rem;
}
.org .label,
.org .reset-button {
  display: inline-block;
  margin: 0.5rem;
  padding:0.5rem 1.25rem;
  font-size:1.25rem;
}

form ul {
  display: flex;
  flex-wrap: wrap;
}
.label {
  display: inline-block;
  margin: 0.25rem;
  padding:0.25rem 0.5rem;
  font-size:1rem;
  text-align: center;
  border-radius: 2.5rem;
  text-shadow:0.1rem 0.1rem #fff;
}
.how .label {
  border: 1px solid #f6d435;
}
.reset-button {
  display:inline-block;
  text-align:center;
  margin: 0.25rem;
  padding:0.25rem 0.5rem;
  font-size:1rem;
  border-radius: 2.5rem;
  cursor: pointer;
  border: 1px solid #000;
}
button {
  display:inline-block;
  width:100%;
  text-align:center;
  margin: 0.25rem;
  padding:0.25rem 0;
  font-size:1.25rem;
  border-radius: 2.5rem;
  cursor: pointer;
  background:#f6d435;
  border: 1px solid #000;
}
.label:hover,
.reset-button:hover,
.list .link a:hover,
button:hover {
  color:#fff;
  cursor:pointer;
  background: #D24117;
  text-shadow:0.1rem 0.1rem #000;
}

.list {
  padding: 0 1.25% 2.5%;
}
.list ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.list li {
  font-size:1.25rem;
    padding:0.5rem 1rem;
    margin:0.5rem;
  border:2px solid #000;
  border-radius:0.5em;
  transition: all 1000ms ease;
}
.list li:hover {
  box-shadow:#f6d435 0 0 1rem 0;
  border:2px solid #fff;
  background:#fff;
  transition: all 500ms ease;
  cursor:pointer;
}
.list .what {
  margin:0;
  color:#fff;
  -webkit-text-stroke: 0.025rem #000;
  text-stroke: 0.025rem #000;
  pointer-events:none;
}
.list .more {
  position:fixed;
  top:0; left:0;
  z-index:100;
  padding:2.5%;
  width:75%;
  max-height: 75vh;
  overflow: auto;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  top: 50%; left: 50%;
  box-shadow:#ccc 0 0 0.5rem 0.25rem;
  background-color:rgba(255,255,255,0.95);
}
.list .more .what {
  font-size: 2rem;
}
.list .info {
  font-size:1rem;
  color:#000;
  padding:0.5rem 0 0;
  white-space:pre-wrap;
}
.list .date {
  font-size:85%;
  z-index:3;
}
.list .date b {
  font-size:110%;
  background:#f6d435;
  color:#D24117;
  padding:0.25rem;
  margin:0.25rem;
  z-index:3;
}
.list .pro {
  font-size:75%;
  color:#000;
  padding:0.5rem;
  margin:0.5rem 0 0;
  border: 1px solid #000;
  border-radius:0.5em;
  white-space:pre-wrap;
}
.list .link {
  position:relative;
  float:right;
  margin:5% 2.5% 0;
  z-index:3;
}
.list .link a {
  font-size:1rem;
  text-decoration:none;
  display: inline-block;
  padding:0.25rem 0.5rem;
  border-radius: 2.5rem;
  color:#fff;
  text-shadow:0.1rem 0.1rem #000;
  border: 1px solid #000;
  background:#25AF5A;
  transition: all 500ms ease;
}
.is-hide,
.nothing,
.none
{display:none;}

#marquee {
  overflow: hidden;
  position:fixed;
  z-index:5;
  width:100%; height:2.75rem;
  padding:0; margin:0;
  bottom:0; left:0;
  color:#fff;
  background:#000;
}
#marquee b {
  position:absolute;
  right:0;
  bottom:0;
  width:100%;
  text-align:center;
  padding:1.5% 0;
  font-size:1.25rem;
  color:#eee;
  font-family:"Orchard";
}
#marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
#marquee > span {
  position: absolute;
  padding:0.25rem;
  font-size:1.5rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#marquee > span:hover {
  animation-play-state: paused;
  cursor: default;
}
#weare {
  width:90%;
  padding:2.5% 2.5% 0;
  margin:2.5% auto 0;
}
#weare h1 {
  font-size:4.5vw;
  text-align:center;
  padding:0 0 7.5%;
}
#weare #jp {
  font-size:1.25rem;
  border:0.2rem solid;
  padding:0.75rem 2rem;
  margin:2.5% 0;
  background:#fff;
  border-radius:1rem 1.25rem 0.75rem 1.5rem;
  font-family:YuGothic,"Yu Gothic";
  position:relative;
  z-index:1;
}
#weare #en {
  font-size:1.75rem;
  padding:2.5% 2.5% 0;
  margin:5% 0 0;
  position:relative;
  z-index:1;
  font-family: Arial;
}
.bg_fff {
  pointer-events:none;
  text-align:center;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  color:#fff;
  z-index:0;
  font-size:3.5rem;
  line-height:8rem;
  margin:0;
  padding:0;
  overflow: hidden;
}
@keyframes scroll{
0% { transform: translateX(0)}
100% { transform: translateX(-100%)}
}
@keyframes marquee {
  0% { left: 100%; transform: translate(0); }
  100% { left: 0; transform: translate(-100%); }
}

@font-face {
  font-family: "inscrutable";
  src: url(/font/inscrutable.otf);
}
@font-face {
  font-family: "Orchard";
  src: url(/font/Orchard-Linear.otf);
}
@font-face {
  font-family: "Quarantype";
  src: url(/font/Quarantype-Regular.otf);
}
#weare #en
{font-family:"Quarantype";}
.bg_fff,
.bg_font {
  font-family:"inscrutable";
}
