@font-face {
font-family: "Orchard";
src: url(/font/Orchard-Linear.otf);
}
@font-face {
font-family: "inscrutable";
src: url(/font/inscrutable.otf);
}
@font-face {
font-family: "Kipper";
src: url(/font/Kipper.otf  );
}
@font-face {
font-family: "floraandfauna";
src: url(/font/floraandfauna.otf);
}
@font-face {
font-family: "Quarantype";
src: url(/font/Quarantype-Regular.otf);
}
#csswarp {
top:0;
z-index:5;
position:absolute;
width:95vw;
height:100vw;
transform: rotate(90deg);
float:right;
}
#warped span{
font-family:"Orchard";
font-size:1rem;
white-space:pre;
animation:2s linear infinite alternate font;
}
@-webkit-keyframes font {
0% {font-family:"Orchard";}
25% {font-family: "Kipper";}
50% {font-family: "floraandfauna";}
75% {font-family: "Orchard";}
100% {font-family: "Times New Roman", "Times", serif;}
}
       #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
       -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
       100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

       #warped .w0 {-moz-transform: rotate(-7.85rad);-webkit-transform: rotate(-7.85rad);-o-transform:
       rotate(-7.85rad);-ms-transform: rotate(-7.85rad); transform: rotate(-7.85rad);
       width: 28px; height: 16px; left: 26px; top: 202.8px;}

       #warped .w1 {-moz-transform: rotate(-7.53rad);-webkit-transform: rotate(-7.53rad);-o-transform:
       rotate(-7.53rad);-ms-transform: rotate(-7.53rad); transform: rotate(-7.53rad);
       width: 16px; height: 16px; left: 36.92px; top: 171.83px;}

       #warped .w2 {-moz-transform: rotate(-7.26rad);-webkit-transform: rotate(-7.26rad);-o-transform:
       rotate(-7.26rad);-ms-transform: rotate(-7.26rad); transform: rotate(-7.26rad);
       width: 9px; height: 16px; left: 50.26px; top: 152.09px;}

       #warped .w3 {-moz-transform: rotate(-6.96rad);-webkit-transform: rotate(-6.96rad);-o-transform:
       rotate(-6.96rad);-ms-transform: rotate(-6.96rad); transform: rotate(-6.96rad);
       width: 19px; height: 16px; left: 61.79px; top: 134.5px;}

       #warped .w4 {-moz-transform: rotate(-6.7rad);-webkit-transform: rotate(-6.7rad);-o-transform:
       rotate(-6.7rad);-ms-transform: rotate(-6.7rad); transform: rotate(-6.7rad);
       width: 17px; height: 16px; left: 86.86px; top: 120.27px;}

       #warped .w5 {-moz-transform: rotate(-6.52rad);-webkit-transform: rotate(-6.52rad);-o-transform:
       rotate(-6.52rad);-ms-transform: rotate(-6.52rad); transform: rotate(-6.52rad);
       width: 18px; height: 16px; left: 111.9px; top: 111.86px;}

       #warped .w6 {-moz-transform: rotate(-6.39rad);-webkit-transform: rotate(-6.39rad);-o-transform:
       rotate(-6.39rad);-ms-transform: rotate(-6.39rad); transform: rotate(-6.39rad);
       width: 18px; height: 16px; left: 140.18px; top: 107.1px;}

       #warped .w7 {-moz-transform: rotate(-6.3rad);-webkit-transform: rotate(-6.3rad);-o-transform:
       rotate(-6.3rad);-ms-transform: rotate(-6.3rad); transform: rotate(-6.3rad);
       width: 18px; height: 16px; left: 167.86px; top: 105.56px;}

       #warped .w8 {-moz-transform: rotate(-6.23rad);-webkit-transform: rotate(-6.23rad);-o-transform:
       rotate(-6.23rad);-ms-transform: rotate(-6.23rad); transform: rotate(-6.23rad);
       width: 12px; height: 16px; left: 195.71px; top: 106.18px;}

       #warped .w9 {-moz-transform: rotate(-6.18rad);-webkit-transform: rotate(-6.18rad);-o-transform:
       rotate(-6.18rad);-ms-transform: rotate(-6.18rad); transform: rotate(-6.18rad);
       width: 11px; height: 16px; left: 217.57px; top: 107.99px;}

       #warped .w10 {-moz-transform: rotate(-6.13rad);-webkit-transform: rotate(-6.13rad);-o-transform:
       rotate(-6.13rad);-ms-transform: rotate(-6.13rad); transform: rotate(-6.13rad);
       width: 9px; height: 16px; left: 238.48px; top: 110.64px;}

       #warped .w11 {-moz-transform: rotate(-6.08rad);-webkit-transform: rotate(-6.08rad);-o-transform:
       rotate(-6.08rad);-ms-transform: rotate(-6.08rad); transform: rotate(-6.08rad);
       width: 16px; height: 16px; left: 257.7px; top: 114.76px;}

       #warped .w12 {-moz-transform: rotate(-6.02rad);-webkit-transform: rotate(-6.02rad);-o-transform:
       rotate(-6.02rad);-ms-transform: rotate(-6.02rad); transform: rotate(-6.02rad);
       width: 18px; height: 16px; left: 282.36px; top: 120.86px;}

       #warped .w13 {-moz-transform: rotate(-5.95rad);-webkit-transform: rotate(-5.95rad);-o-transform:
       rotate(-5.95rad);-ms-transform: rotate(-5.95rad); transform: rotate(-5.95rad);
       width: 17px; height: 16px; left: 309.62px; top: 129.13px;}

       #warped .w14 {-moz-transform: rotate(-5.85rad);-webkit-transform: rotate(-5.85rad);-o-transform:
       rotate(-5.85rad);-ms-transform: rotate(-5.85rad); transform: rotate(-5.85rad);
       width: 12px; height: 16px; left: 334.31px; top: 138.12px;}

       #warped .w15 {-moz-transform: rotate(-5.66rad);-webkit-transform: rotate(-5.66rad);-o-transform:
       rotate(-5.66rad);-ms-transform: rotate(-5.66rad); transform: rotate(-5.66rad);
       width: 9px; height: 16px; left: 353.55px; top: 148.24px;}

       #warped .w16 {-moz-transform: rotate(-10.03rad);-webkit-transform: rotate(-10.03rad);-o-transform:
       rotate(-10.03rad);-ms-transform: rotate(-10.03rad); transform: rotate(-10.03rad);
       width: 21px; height: 16px; left: 353.13px; top: 167.71px;}

       #warped .w17 {-moz-transform: rotate(-9.51rad);-webkit-transform: rotate(-9.51rad);-o-transform:
       rotate(-9.51rad);-ms-transform: rotate(-9.51rad); transform: rotate(-9.51rad);
       width: 26px; height: 16px; left: 318.21px; top: 175.34px;}

       #warped .w18 {-moz-transform: rotate(-9.88rad);-webkit-transform: rotate(-9.88rad);-o-transform:
       rotate(-9.88rad);-ms-transform: rotate(-9.88rad); transform: rotate(-9.88rad);
       width: 16px; height: 16px; left: 290.5px; top: 180.47px;}

       #warped .w19 {-moz-transform: rotate(-10.58rad);-webkit-transform: rotate(-10.58rad);-o-transform:
       rotate(-10.58rad);-ms-transform: rotate(-10.58rad); transform: rotate(-10.58rad);
       width: 14px; height: 16px; left: 274.46px; top: 198.22px;}

       #warped .w20 {-moz-transform: rotate(-10.91rad);-webkit-transform: rotate(-10.91rad);-o-transform:
       rotate(-10.91rad);-ms-transform: rotate(-10.91rad); transform: rotate(-10.91rad);
       width: 7px; height: 16px; left: 273.14px; top: 218.17px;}

       #warped .w21 {-moz-transform: rotate(-4.8rad);-webkit-transform: rotate(-4.8rad);-o-transform:
       rotate(-4.8rad);-ms-transform: rotate(-4.8rad); transform: rotate(-4.8rad);
       width: 17px; height: 16px; left: 268.26px; top: 239.86px;}

       #warped .w22 {-moz-transform: rotate(-4.91rad);-webkit-transform: rotate(-4.91rad);-o-transform:
       rotate(-4.91rad);-ms-transform: rotate(-4.91rad); transform: rotate(-4.91rad);
       width: 18px; height: 16px; left: 271.66px; top: 267.14px;}

       #warped .w23 {-moz-transform: rotate(-4.95rad);-webkit-transform: rotate(-4.95rad);-o-transform:
       rotate(-4.95rad);-ms-transform: rotate(-4.95rad); transform: rotate(-4.95rad);
       width: 9px; height: 16px; left: 281.29px; top: 290.64px;}

       #warped .w24 {-moz-transform: rotate(-4.97rad);-webkit-transform: rotate(-4.97rad);-o-transform:
       rotate(-4.97rad);-ms-transform: rotate(-4.97rad); transform: rotate(-4.97rad);
       width: 7px; height: 16px; left: 286.56px; top: 307.82px;}

       #warped .w25 {-moz-transform: rotate(-4.95rad);-webkit-transform: rotate(-4.95rad);-o-transform:
       rotate(-4.95rad);-ms-transform: rotate(-4.95rad); transform: rotate(-4.95rad);
       width: 18px; height: 16px; left: 286.58px; top: 329.84px;}

       #warped .w26 {-moz-transform: rotate(-4.82rad);-webkit-transform: rotate(-4.82rad);-o-transform:
       rotate(-4.82rad);-ms-transform: rotate(-4.82rad); transform: rotate(-4.82rad);
       width: 16px; height: 16px; left: 292.63px; top: 356.09px;}

       #warped .w27 {-moz-transform: rotate(-9.22rad);-webkit-transform: rotate(-9.22rad);-o-transform:
       rotate(-9.22rad);-ms-transform: rotate(-9.22rad); transform: rotate(-9.22rad);
       width: 16px; height: 16px; left: 282.24px; top: 374.47px;}

       #warped .w28 {-moz-transform: rotate(-8.8rad);-webkit-transform: rotate(-8.8rad);-o-transform:
       rotate(-8.8rad);-ms-transform: rotate(-8.8rad); transform: rotate(-8.8rad);
       width: 15px; height: 16px; left: 260.25px; top: 362.21px;}

       #warped .w29 {-moz-transform: rotate(-8.73rad);-webkit-transform: rotate(-8.73rad);-o-transform:
       rotate(-8.73rad);-ms-transform: rotate(-8.73rad); transform: rotate(-8.73rad);
       width: 9px; height: 16px; left: 245.71px; top: 348.26px;}

       #warped .w30 {-moz-transform: rotate(-7.98rad);-webkit-transform: rotate(-7.98rad);-o-transform:
       rotate(-7.98rad);-ms-transform: rotate(-7.98rad); transform: rotate(-7.98rad);
       width: 16px; height: 16px; left: 225.58px; top: 331px;}

       #warped .w31 {-moz-transform: rotate(-7.27rad);-webkit-transform: rotate(-7.27rad);-o-transform:
       rotate(-7.27rad);-ms-transform: rotate(-7.27rad); transform: rotate(-7.27rad);
       width: 17px; height: 16px; left: 229.58px; top: 305.19px;}

       #warped .w32 {-moz-transform: rotate(-6.51rad);-webkit-transform: rotate(-6.51rad);-o-transform:
       rotate(-6.51rad);-ms-transform: rotate(-6.51rad); transform: rotate(-6.51rad);
       width: 18px; height: 16px; left: 251.96px; top: 291.53px;}

       #warped .w33 {-moz-transform: rotate(-6.29rad);-webkit-transform: rotate(-6.29rad);-o-transform:
       rotate(-6.29rad);-ms-transform: rotate(-6.29rad); transform: rotate(-6.29rad);
       width: 9px; height: 16px; left: 280.14px; top: 289.36px;}

       #warped .w34 {-moz-transform: rotate(-6.19rad);-webkit-transform: rotate(-6.19rad);-o-transform:
       rotate(-6.19rad);-ms-transform: rotate(-6.19rad); transform: rotate(-6.19rad);
       width: 21px; height: 16px; left: 298.43px; top: 290.68px;}

       #warped .w35 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
       rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
       width: 12px; height: 16px; left: 329.23px; top: 293.94px;}

       #warped .w36 {-moz-transform: rotate(-6.12rad);-webkit-transform: rotate(-6.12rad);-o-transform:
       rotate(-6.12rad);-ms-transform: rotate(-6.12rad); transform: rotate(-6.12rad);
       width: 16px; height: 16px; left: 351.62px; top: 297.78px;}

       #warped .w37 {-moz-transform: rotate(-6.12rad);-webkit-transform: rotate(-6.12rad);-o-transform:
       rotate(-6.12rad);-ms-transform: rotate(-6.12rad); transform: rotate(-6.12rad);
       width: 16px; height: 16px; left: 377.54px; top: 302.22px;}

       #warped .w38 {-moz-transform: rotate(-6.12rad);-webkit-transform: rotate(-6.12rad);-o-transform:
       rotate(-6.12rad);-ms-transform: rotate(-6.12rad); transform: rotate(-6.12rad);
       width: 11px; height: 16px; left: 402.3px; top: 306.05px;}

       #warped .w39 {-moz-transform: rotate(-6.13rad);-webkit-transform: rotate(-6.13rad);-o-transform:
       rotate(-6.13rad);-ms-transform: rotate(-6.13rad); transform: rotate(-6.13rad);
       width: 7px; height: 16px; left: 423.9px; top: 309.3px;}

       #warped .w40 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
       rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
       width: 15px; height: 16px; left: 439.87px; top: 312.38px;}

       #warped .w41 {-moz-transform: rotate(-6.17rad);-webkit-transform: rotate(-6.17rad);-o-transform:
       rotate(-6.17rad);-ms-transform: rotate(-6.17rad); transform: rotate(-6.17rad);
       width: 16px; height: 16px; left: 464.66px; top: 315.78px;}

       #warped .w42 {-moz-transform: rotate(-6.2rad);-webkit-transform: rotate(-6.2rad);-o-transform:
       rotate(-6.2rad);-ms-transform: rotate(-6.2rad); transform: rotate(-6.2rad);
       width: 9px; height: 16px; left: 491.92px; top: 318.3px;}

       #warped .w43 {-moz-transform: rotate(-6.24rad);-webkit-transform: rotate(-6.24rad);-o-transform:
       rotate(-6.24rad);-ms-transform: rotate(-6.24rad); transform: rotate(-6.24rad);
       width: 21px; height: 16px; left: 509.65px; top: 319.97px;}

       #warped .w44 {-moz-transform: rotate(-6.3rad);-webkit-transform: rotate(-6.3rad);-o-transform:
       rotate(-6.3rad);-ms-transform: rotate(-6.3rad); transform: rotate(-6.3rad);
       width: 17px; height: 16px; left: 540.17px; top: 320.58px;}

       #warped .w45 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
       rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
       width: 16px; height: 16px; left: 568.57px; top: 319.26px;}

       #warped .w46 {-moz-transform: rotate(-6.45rad);-webkit-transform: rotate(-6.45rad);-o-transform:
       rotate(-6.45rad);-ms-transform: rotate(-6.45rad); transform: rotate(-6.45rad);
       width: 7px; height: 16px; left: 593.78px; top: 316.72px;}

       #warped .w47 {-moz-transform: rotate(-6.52rad);-webkit-transform: rotate(-6.52rad);-o-transform:
       rotate(-6.52rad);-ms-transform: rotate(-6.52rad); transform: rotate(-6.52rad);
       width: 7px; height: 16px; left: 610.77px; top: 313.41px;}

       #warped .w48 {-moz-transform: rotate(-6.62rad);-webkit-transform: rotate(-6.62rad);-o-transform:
       rotate(-6.62rad);-ms-transform: rotate(-6.62rad); transform: rotate(-6.62rad);
       width: 16px; height: 16px; left: 627.04px; top: 307.47px;}

       #warped .w49 {-moz-transform: rotate(-6.77rad);-webkit-transform: rotate(-6.77rad);-o-transform:
       rotate(-6.77rad);-ms-transform: rotate(-6.77rad); transform: rotate(-6.77rad);
       width: 17px; height: 16px; left: 650.23px; top: 297.39px;}

       #warped .w50 {-moz-transform: rotate(-6.94rad);-webkit-transform: rotate(-6.94rad);-o-transform:
       rotate(-6.94rad);-ms-transform: rotate(-6.94rad); transform: rotate(-6.94rad);
       width: 18px; height: 16px; left: 672.66px; top: 282.91px;}

       #warped .w51 {-moz-transform: rotate(-7.13rad);-webkit-transform: rotate(-7.13rad);-o-transform:
       rotate(-7.13rad);-ms-transform: rotate(-7.13rad); transform: rotate(-7.13rad);
       width: 16px; height: 16px; left: 693.99px; top: 264.06px;}

       #warped .w52 {-moz-transform: rotate(-7.3rad);-webkit-transform: rotate(-7.3rad);-o-transform:
       rotate(-7.3rad);-ms-transform: rotate(-7.3rad); transform: rotate(-7.3rad);
       width: 15px; height: 16px; left: 710.09px; top: 243.3px;}
