body {
	margin: 0;
	padding: 0;
	background-color:#cba97b;
}
h1 {
	display:block;
	width:100%;
	padding:1vh 0 0;
	transform: scale(0.9, 5);
	font-size:5vw;
	font-family: "YuMincho", "Hiragino Mincho ProN W3","Hiragino Mincho ProN", serif;
	color:#eee;
	text-align:center;
}
.section-4 a {
	color:#fff;
  font-family: "Times New Roman";
  font-style:italic;
	border:0.2vw solid #fff;
	padding:0 7.5vw;
	border-radius:50%;
}
.section-4 a:hover {
	background:#fff;
	color:#cba97b;
	cursor:pointer;
}
.section-5 a {
	color:#cba97b;
	padding:0 7.5vw;
	border-radius:50%;
  -webkit-text-stroke: 0.05vw #FFF;
  text-stroke: 0.05vw #FFF;
}
.section-5 a:hover {
	background:#fff;
	color:#cba97b;
	cursor:pointer;
}
.section-5 h1 {
 position: absolute;
 top: -10vh;
}
.section-6 .center {display:none;}
h2 {
	display:block;
	width:100%;
	padding:1.5vw 0 0;
	transform: scale(1, 5.5);
	font-size:2.5vw;
	font-family: "YuMincho", "Hiragino Mincho ProN W3","Hiragino Mincho ProN", serif;
	color:#cba97b;
	text-align:center;
  -webkit-text-stroke: 0.05vw #FFF;
  text-stroke: 0.05vw #FFF;
}
h3 {
	display:block;
	width:100%;
	font-size:2.5vw;
	color:#000;
	text-align:center;
}
.top {
 position: absolute;
 top: 0%;
}
.center {
	font-size:2.5vw;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.center h1 {
	pointer-events:none;
}
.bottom {
	pointer-events:none;
	position:absolute;
	bottom:-7.5%;
}
.right{
	display:inline-block;
	width:15vw; top:-1vh;
	float:right;
	z-index:10;
	text-align:right;
	position:relative;
	
}
.tate {
	font-size:3vw;
	transform: scale(1, 1);
	position:absolute;
	right:2.5vw; bottom:2.5vw;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
#menu {
	z-index:10;
	position:absolute;
	width:45vw;
	padding-top:7.5vh;
	padding-right:2%;
}
#menu a,
.center a {
	font-size:2vw;
	display:block;
	position:relative;
	z-index:1;
	cursor:pointer;
	color:#cba97b;
	width:98%;
	border-radius:5vw;
	background:#fff;
	padding:2.5%;
	margin:0.25vh 0;
}
#menu a:hover,
.center a:hover {
	border-radius:5vw;
	background:#b35900;
	margin:0.25vh 0;
}
#text {
	display:block;
	background:#fff;
	width:95vw;
	height:90%;
	font-size:2vw;
 position: absolute;
 top: 75%;
 left: 50%;
	padding:2.5%;
 transform: translate(-50%, -50%);
	font-size:3vw;
	padding:5vw;
	color:#b35900;
	font-family: "YuMincho", "Hiragino Mincho ProN W3","Hiragino Mincho ProN", serif;
}
#text b {
	font-size:4vw;
	color:#fff;
  -webkit-text-stroke: 0.05vw #b35900;
  text-stroke: 0.05vw #b35900;
}
#text p {
	position:absolute;
	color:#000;
	font-size:3vw;
	top:50%; left:50%;
 transform: translate(-50%, -50%);
}
.popup {position:fixed; z-index:100; width:100vw; height:100vh; top:0; left:0;}
.popup p {position: fixed; z-index:100; padding:0; margin:0; width:100%; height:100%; top:0; left:0;}
.popup iframe {width:100%; height:100%; border:0;}
.close {position:absolute; z-index:200; font-size:5vw; padding:2.5% 5%; top:0; right:0; cursor:pointer; color:#fff;}

.news {position:fixed; bottom:0; border:0.5vw solid; padding:1%; margin:2vh 2.5vw; background:#fff; width:92%;}
.news:hover {background:#b35900; color:#fff; cursor:pointer;}
.news span {font-size:2vw; display:inline-block; width:15%;}
.news marquee {float:right; font-size:2vw; width:85%; display:inline-block;}
.base {
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1px;
}
.scaler {
 border-top:12.5vh inset #cba97b;
 border-right:12.5vw outset #cba97b;
 border-bottom:12.5vh inset #cba97b;
 border-left:12.5vw inset #cba97b;
  width: 75vw;
  height: 75vh;
  transform-style: preserve-3d;
  transform: translateZ(0);
}
.section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
.scroll {
  visibility: hidden;
  z-index: -1;
}
@media screen and (max-width: 750px){
  .section-6 #reservation {display:none;}
  .section-6 .center {display:block;}
}