html, body {
  margin: 0;
  padding: 0;
  height:100vh;
}

@font-face {
  font-family: "inscrutable";
  src: url(/font/inscrutable.otf);
}

canvas {
  display: block;
}

canvas p {
  font-size:1.5em;
  line-height: 2em;
  cursor:pointer;
  font-family: "inscrutable","Times New Roman", "Times", serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
