body {margin: 0; padding: 0;}

#clickarea {
  width: 100%
  height: 100vh;
  overflow: hidden;
  font-family: "Orchard";
  text-align: center;
}
#click div {
  box-sizing: border-box;
  float: left;
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
  background-color: white;
}
#clickarea div::before {
  content: "å¤§";
  position: absolute;
  top:0; left:0;
  color:#D24117;
  font-family: "Times New Roman", "Times", serif;
  -webkit-text-stroke: 0.1vw #FFF;
  text-stroke: 0.1vw #FFF;
}
#clickarea div::after {
  content: "chotto crazy";
}

#clickarea .leaf {
  color: #000;
  transition:.5s all;
}

#clickarea .leaf:hover {
  color: white;
  border-radius: 50%;
  transition:.25s all;
  background-color: blue;
}

@font-face {
  font-family: "Orchard";
  src: url(/font/Orchard-Linear.otf);
}
