body {
  background:#eee;
  padding:0; margin:0;
}
h1 {font-size: 3vw; line-height:5.5vw; margin:1vw; letter-spacing:0.1rem; font-weight: 500; width:100%;}
h1 a,
h2 a {
	color:#000;
	text-decoration:none;
}
h2 {
	display:inline-block;
	margin:-2.5vw 1.5vw 1.5vw;
	font-family: Arial;
	font-size: 4.5vw;
	font-weight: normal;
	font-weight: 500;
}
h2 b {
	font-family: "MS Serif", "Times New Roman";
	color:#f6d435;
	font-size: 150%;
	font-style: italic;
}
h2 i {
	font-family: "Times New Roman", "Times", serif;
	font-size: 125%;
	font-style: italic;
	letter-spacing: 0.13rem;
}
h2 .daidaidai {
	margin:0; padding:0;
	letter-spacing:-0.5rem;
	font-size: 8.5vw;
 font-family: "Times New Roman", "Times", serif; color:#D24117;
}
h2 .on:after {
	color:#25AF5A;
  content:"2020";
  position:absolute;
	z-index:10;
  margin-left:-4.5vw;
	margin-top:3.5vw;
}
#index {
	position:relative;
	background:#fff;
	top:0;
	border:solid #000 0.5vw;
	border-radius:2.5vw;
	padding:0.5vw 1vw;
}
.about {
  text-align:center;
	font-size:2vw;
	line-height:300%;
	margin:0 2.5% 2.5%;
}
.notice {font-size:2.5vw;}
.block span b,
#index b {
	color:#000;
	font-size:120%;
	display:inline-block;
	transform: scale(1, 2);
	line-height:250%;
	font-weight:500;
	margin:0 1%;
}
#index i {
	color:#000;
	font-style:normal;
	font-size:125%;
	display:inline-block;
	transform: scale(1, 2.5);
	line-height:250%;
	font-weight:500;
	margin:0 1% 2.5%;
	text-decoration:underline wavy #000;
}
#index u {
	color:#000;
  font-style:normal;
	display:inline-block;
	transform: scale(1.25, 1.25);
  margin-left:1vw;
  text-decoration:none;
}
#index .crazy i {
	margin:0; padding:0;
	font-size: 3.5vw;
 font-family: "Times New Roman", "Times", serif; color:#D24117;
	text-decoration:none;
}
.about .crazy:after {
	font-family: Arial;
  font-style:normal;
	color:#25AF5A;
  content:"2020";
  position:absolute;
	z-index:10;
	font-size:75%;
  margin-left:-17.5vw;
	margin-top:1vw;
  transform: scale(1.25, 0.75);
}
h2 .hold:before, h2 .dai:before, h2 b, h2 .daidaidai, h2 .on:after {
  -webkit-text-stroke: 0.25vw #FFF;
  text-stroke: 0.25vw #FFF;
}
#max {
	font-size:5vw;
  font-family: "Times New Roman", "Times", serif;
  color:#D24117;
	padding:1vw;
	margin:3.5vw 5vw 0;
	float:right;
  background: linear-gradient(55deg, #25AF5A, #f6d435, #D24117);
  background-size: 200% 200%;
  animation: gradientBG 1s ease infinite;
	color:#fff;
}	
#title  {
	display:inline-block;
	padding:1vw;
	margin-bottom:2.5vw;
  background: linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
  background-size: 200% 200%;
  animation: gradientBG 1s ease infinite;
	color:#fff;
}
#sub  {
	line-height:7.5vw;
	padding:1vw;
	margin-right:2vw;
  background: linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
  background-size: 200% 200%;
  animation: gradientBG 1s ease infinite;
  color:#fff;
}
.contents {
	padding: 1vw;
	background: #fff;
}
.memo {font-size:55%;}
#head {
  z-index:100;
  position:fixed;
  width:95%;
  padding:0 2.5%;
  bottom:0;
}
#map {
  background-color:#eee;
  z-index:50;
	position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
	bottom:0; left:0;
  width:100%;
  height:100vh;
}
#map marquee {
  position:fixed;
  font-size:1.5vw;
  width:95%;
  margin:1% auto;
	background:#fff;
	top:0;
	border:solid #000 0.5vw;
	border-radius:2.5vw;
	padding:0.5vw 1vw;
}
#map marquee b {
	color:#000;
	font-size:120%;
	display:inline-block;
	transform: scale(1, 2);
	font-weight:500;
	margin:0 1%;
}
#map #index {
  width:50%;
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
#map .close {
  position:fixed;
  right:0;
  top:0;
  padding:0 2.5%;
  color:#000;
  font-size:10vw;
  cursor:pointer;
}
#head h2 {zoom:0.55;}
#head #index {float:right;}
hr {border:none; clear:both;}
.png p:hover {
  background:#eee;
}
#ramdom div,
.block {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#ramdom div p {
  text-align:center;
  display: inline-block;
  font-size: 2vw;
  width:80%;
  border:#000 solid 0.5vw;
	border-radius:2.5vw;
  height:75vh; max-height:75vh;
  padding: 2.5vh 0 0;
}
#ramdom div img {
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  max-height:75%; max-width:75%;
}
.top .about {
  z-index:100;
  font-size:1.5vw;
  position:absolute;
  top:1%;
  width:95%;
}
.top p {
  width:50vw;
}
#start {
  position:absolute;
  z-index:50;
  font-size:4.5vw;
  text-align:center;
  width:100%;
  padding-top:25vh;
}

#start u {
  padding:0 2%;
  color:#fff;
	font-size:120%;
	display:inline-block;
	transform: scale(0.75, 2.5);
	font-weight:500;
}
#start u:hover {
  background:#fff;
  color:#eee;
  cursor:pointer;
}
#start #index {
  font-size:1vw;
  width:80%;
  margin:auto;
}
/* Animation */
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@media screen and (max-width: 500px){
  #map #index {width:100vw; zoom:80%;}
}
