#about .yes:after,
#about .no:after,
#about .or:after {
  position:relative;
  padding-left: 0.25rem;
  font-size:125%;
  color:#eee;
  -webkit-text-stroke: 0.05rem #000;
  text-stroke: 0.05rem #000;
}
#about .yes:after {content:"けど、できない";}
#about .no:after {content:"けど、気になる";}
#about .or:after {content:"けど、やってみたい";}
#about .chotto {
  position:relative;
  width:100%;
} 
#about .chotto:before {
  content:"ちょっとクレイジーな";
  color:#eee;
  float:left;
  left:0;
  padding-right: 0.25rem;
  position:relative;
  font-family:"MS Serif";
  -webkit-text-stroke: 0.025rem #000;
  text-stroke: 0.025rem #000;
}
#about .chotto:after {
  content:"あなたの";
  font-size: 150%;
  color:#eee;
  position:absolute;
  float:left; left:1.75rem;
  -webkit-text-stroke: 0.05rem #D24117;
  text-stroke: 0.05rem #D24117;
}
#about .big {
  font-size: 3.5rem;
  padding: 0.5rem;
  line-height:100%;
  font-family: "Times New Roman", "Times", serif;
  color:#D24117;
  -webkit-text-stroke: 0.1rem #FFF;
  text-stroke: 0.1rem #FFF;
}
#about u {
  font-weight: 555;
  text-decoration:underline wavy #D24117;
}
#logo {
  pointer-events:none;
  font-family: Arial;
  font-size: 2rem;
  width:95%;
  padding:10% 0;
  line-height: 200%;
  font-weight: normal;
  font-weight: 500;
  text-align:center;
}
#back {
  pointer-events:none;
  font-family: Arial;
  font-size: 2rem;
  font-weight: normal;
  font-weight: 500;
  text-align:center;
}
#logo {
  background:#eee;
}
h2 b,
#logo b,
#back b {
  font-size: 125%;
  font-style: italic;
  -webkit-text-stroke: 0.075rem #FFF;
  text-stroke: 0.075rem #FFF;
}
#logo i,
#back i {
  padding-right:0.25rem;
}
.hold, .dai {
  color:#fff;
  letter-spacing: 0rem;
  line-height: 200%;
}
.hold:before {
  content:"are";
  color:#f6d435;
  font-style:italic;
  position:absolute;
  font-weight: 555;
  margin-top:0.5rem;
  margin-left:-0.5rem;
}
.dai:before {
  content:"大";
  position:absolute;
  margin: 0 0.5rem;
  font-size: 200%;
  font-family: "Times New Roman", "Times", serif;
  color:#D24117;
}
.on, .crazy {
  padding-left:0.75rem;
  color:#f6d435;
  font-family: "Times New Roman", "Times", serif;
}
.on:after {
  content:"2020";
  font-family: Arial;
  position:absolute;
  margin: -0.75rem;
  font-size: 75%;
  color:#25AF5A;
}
.by {
  font-family:"Times New Roman","Times", serif;
  font-size: 75%;
}
.by:after {
  content:"∧°┐";
  font-size:125%;
  font-family:"MS Mincho", serif;
  margin-left:0.75rem;
  font-style: normal;
}
.hold:before,
.dai:before,
.dai:after,
.on, .crazy {
  -webkit-text-stroke: 0.1rem #FFF;
  text-stroke: 0.1rem #FFF;
}

#schedule {
  font-size:0.75rem;
  margin:0;
  padding:0;
  pointer-events:none;
}
#schedule div {
  padding:0.1rem 0;
  position:relative;
}
#schedule div span {
position:relative;
display:inline-block;
}
#schedule .date {
margin-left:0.25rem;
position:absolute;
background:#fff;
top:1vw;
}
#schedule .sub {
pointer-events:none;
display:block;
font-size:200%;
overflow:hidden;
}
#schedule .sub u {
margin:0;
text-decoration:none;
display : inline-block;
padding-left: 100%;
white-space : nowrap;
animation : scrollSample01 10s linear infinite;
}
#schedule .end .sub {color:#fff;}
#schedule .end .sub:before {
 content:"✔";
	position:absolute;
	font-size:125%;
	bottom:0; right:0.5rem;
 display:inline-block;
}
.tt {
  color:#fff;
  padding:0.25rem;
  margin-right:0.25rem;
}
.tt,
#schedule .end {
  background:linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
  background-size:200% 200%;
  animation:gradientBG 1s ease infinite;
}
#schedule #link {
  position: absolute;
  margin:0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}
#schedule #link:hover {
  background:linear-gradient(-55deg, #D24117, #f6d435, #25AF5A);
  background-size:200% 200%;
  animation:gradientBG 1s ease infinite;
	cursor:pointer;
}
/* Animation */
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@keyframes scrollSample01{
0% { transform: translateX(0)}
100% { transform: translateX(-100%)}
}