body {
  margin: 0;
  padding: 0;
}
#Gravity,
#world {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#Gravity {
  position: relative;
  width:95%;
  height: 95vh;
  margin: auto;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    color: #000;
}

.btn {
  position: fixed;
  top:5vw; left:10vw;
  font-size: 12.5vw;
}

.btn:hover {
  cursor: pointer;
}

.box {
  overflow: hidden;
  cursor: pointer;
  z-index: -1;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
}

#world {
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -1;
}
