html, body {
  padding: 0;
  margin: 0;
}
#color {
  position: fixed;
  top:0:
  left:0;
  width:100%;
  height: 100vh;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hue{
  top: 0;
  width: 100%;
  font-size: 2vw;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  filter: invert();
}

.saturationwrap{
  height: 2.5vw;
  width: 2.5vw;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  margin: auto;
  transform: rotate(-90deg);

}

.saturation{
  left: -47vh;
  width: 100vh;
  bottom: 0;
  top: 0;
  right: 0;
  height: 2.5vw;
  line-height: 2.5vw;
  font-size: 2vw;
  padding-right: 0.75vw;
  margin: auto;
  position: absolute;
  text-align: center;
  filter: invert();
}

.lightnesswrap{
  height: 2.5vw;
  width: 2.5vw;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
  margin: auto;
  transform: rotate(90deg);
}

.lightness{
  padding-left: 0.75vw;
  left: -48vh;
  width: 100vh;
  bottom: 0;
  top: 0;
  right: 0;
  height: 2.5vw;
  line-height: 2.5vw;
  font-size: 2vw;
  padding-right: 0.75vw;
  margin: auto;
  position: absolute;
  text-align: center;
  filter: invert();
}

.tool {
  position:absolute;
  bottom:0;
}
.tool a {
text-decoration:0;
background:#000;
color:#fff;
padding:0 0.25rem;
}
