html {
	padding:0; margin:0;
 font-family: Arial, "MS PGothic", sans-serif;
 background:#eee;
}
#map {
	position:relative;
	top:0; left:0;
	margin:0;
	padding:2.5% 2% 2%;
  overflow-x:hidden;
}
#top {
	position:relative;
	top:-20vw;
	left:0;
	margin:0 1.5vw -16.5vw;
	width:auto; height:55vw;
}
#top u {
	position:absolute;
	display:inline-block;
	font-size:2vw;
	text-decoration:none;
	padding:15%;
	border-radius:50vw;
 -webkit-transform:
		translate(-50%,-50%);
	transform:
	translate(-50%,-50%);
}
#top #main,
#top #bate {
	border: solid #000 0.75vw;
	border-radius:1vw;
}
#top #main p,
#top #bate p {
	position:absolute;
	top:5%; left:50%;
	z-index:10;
	padding:1%;
	font-size:2.5vw;
	background:#fff;
	display:inline-block;
	pointer-events:none;
 -webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}
#top #main b,
#top #bate b {
	left:47%;
	bottom:12.5vw;
	z-index:10;
	position:absolute;
	display:inline-block;
 -webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
	pointer-events:none;
	transform: scale(2, 10);
	font-size:2.5vw;
	font-family: "YuMincho", "Hiragino Mincho ProN W3","Hiragino Mincho ProN", serif;
	color:#eee;
}
#top #main,
#top #main span,
#top #bate,
#top #bate span {
	position:absolute;
	display:inline-block;
 -webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}
#top #main {
 background: linear-gradient(-90deg, #25AF5A, #f6d435, #D24117);
 background-size: 200% 200%;
 animation: gradientBG 15s ease infinite;
	width:40%; height:100%; 
	top: 50%; left: 80%;
}
#top #an {
	background:#333;
	border:4.5vw outset #333;
	border-radius:1vw;
	width:12.5vw; height:12.5vw; 
	top: 37.5%; left: 50%;
}
#top .shitsu:before {
  content: "";
  position: absolute;
  bottom: -5.5vw;
  left: 20%;
  border: 2vw solid transparent;
  border-top: 3.5vw solid rgba(255,255,255,0.75);
}
#top .shitsu {
	top:0; left:90%;
	z-index:10;
	pointer-events:none;
	width:20vw;
	color:#000;
	background: rgba(255,255,255,0.75);
}
#top #stage {
	background:green;
	border:1vw inset green;
	border-radius:1vw;
	width:20vw; height:8vw; 
	top: 90%; left: 67.5%;
}
#top .shiba {
	top:220%; left:55.5%;
	width:15.5vw;
	background: rgba(255,255,255,0.75);
	color:#000;
	z-index:10;
	pointer-events:none;
}
#top .shiba:before {
  content: "";
  position: absolute;
  top: -7.5vw;
  right: 25%;
  border: 2vw solid transparent;
  border-bottom: 5.5vw solid rgba(255,255,255,0.75);
}
#top #bate {
 background:#fff;
	width:57.5%; height:60%; 
	top: 70%; left: 29%;
}
#top #half {
 background: linear-gradient(90deg, #25AF5A, #f6d435, #D24117);
 background-size: 200% 200%;
 animation: gradientBG 15s ease infinite;
	width:50%; height:100%; 
	top: 50%; left: 75%;
}
#top #active {
 background:#cba97b;
	border:3vw inset #cba97b;
	border-radius:1vw;
	width:30%; height:70%; 
	top: 50%; left: 77.5%;
}
#top .park {
	top:85%; left:80%;
	width:19vw;
	background: rgba(255,255,255,0.75);
	color:#000;
	z-index:10;
	pointer-events:none;
}
#top .park:before {
  content: "";
  position: absolute;
  top: -4.5vw;
  left: 25%;
  border: 2vw solid transparent;
  border-bottom: 2.5vw solid rgba(255,255,255,0.75);
}
#top #only {
	position:absolute;
	top: 55%; left: 24%;
	font-size:2vw;
	display:inline-block;
	height:5.5vw;
 -webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}
#top a,
#ccm a {
 position: absolute;
 top: 0;
 left: 0;
 height:100%;
 width: 100%;
 cursor:pointer;
}
#top a:hover,
#ccm a:hover,
#credit a:hover {
 background: linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
 background-size: 200% 200%;
 animation: gradientBG 1s ease infinite;
	opacity:0.75;
}

hr {border:none; clear:both;}
h1 {font-size: 3vw; line-height:5.5vw; margin:1vw; letter-spacing:0.1rem; font-weight: 500; width:100%;}
h1 a {
	color:#000;
	text-decoration:none;
	
}
h2 {
	display:inline-block;
	margin:-2.5vw 1.5vw 1.5vw;
	font-family: Arial;
	font-size: 4.5vw;
	font-weight: normal;
	font-weight: 500;
}
h2 b {
	font-family: "MS Serif", "Times New Roman";
	color:#f6d435;
	font-size: 150%;
	font-style: italic;
}
h2 i {
	font-family: "Times New Roman", "Times", serif;
	font-size: 125%;
	font-style: italic;
	letter-spacing: 0.13rem;
}
h2 .daidaidai {
	margin:0; padding:0;
	letter-spacing:-0.5rem;
	font-size: 8.5vw;
 font-family: "Times New Roman", "Times", serif; color:#D24117;
}
#index {
	position:relative;
	top:0;
	border:solid #000 0.5vw;
	border-radius:2.5vw;
	padding:2% 1.5%;
}
.about {
	text-align:center;
	background:#fff;
	font-size:2vw;
	line-height:300%;
	margin:0 2.5% 2.5%;
}
.notice {font-size:2.5vw;}
#index b {
	color:#000;
	font-size:120%;
	display:inline-block;
	transform: scale(1, 2);
	line-height:250%;
	font-weight:500;
	margin:0 1%;
}
#index i {
	color:#000;
	font-style:normal;
	font-size:125%;
	display:inline-block;
	transform: scale(1, 2.5);
	line-height:250%;
	font-weight:500;
	margin:0 1% 2.5%;
	text-decoration:underline wavy #000;
}
#index u {
	color:#000;
  font-style:normal;
	display:inline-block;
	transform: scale(1.25, 1.25);
  margin-left:1vw;
  text-decoration:none;
}
#index .crazy i {
	margin:0; padding:0;
	font-size: 3.5vw;
 font-family: "Times New Roman", "Times", serif; color:#D24117;
	text-decoration:none;
}
h2 .on:after {
	color:#25AF5A;
  content:"2020";
  position:absolute;
	z-index:10;
  margin-left:-4.5vw;
	margin-top:3.5vw;
}
#index .crazy:after {
	font-family: Arial;
  font-style:normal;
	color:#25AF5A;
  content:"2020";
  position:absolute;
	z-index:10;
	font-size:75%;
  margin-left:-17.5vw;
	margin-top:1vw;
  transform: scale(1.25, 0.75);
}
h2 .hold:before, h2 .dai:before, h2 b, h2 .daidaidai, h2 .on:after {
  -webkit-text-stroke: 0.25vw #FFF;
  text-stroke: 0.25vw #FFF;
}
h3 {font-size: 2.5vw; line-height:6vw; margin:0 1vw; letter-spacing:0.1rem; font-weight: 400; width:65%;}
h3 span {white-space: nowrap;}
#max {
	font-size:5vw;
 font-family: "Times New Roman", "Times", serif; color:#D24117;
	padding:1vw;
	margin:0 1.5vw 0;
	float:right;
 background: linear-gradient(55deg, #25AF5A, #f6d435, #D24117);
 background-size: 200% 200%;
 animation: gradientBG 1s ease infinite;
	color:#fff;
}
#title  {
	display:inline-block;
	padding:1vw;
	margin-bottom:2.5vw;
 background: linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
 background-size: 200% 200%;
 animation: gradientBG 1s ease infinite;
	color:#fff;
}
#sub  {
	line-height:7.5vw;
	padding:1vw;
	margin-right:2vw;
 background: linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
 background-size: 200% 200%;
 animation: gradientBG 1s ease infinite;
	color:#fff;
}
.contents {
	padding: 1vw;
	background: #fff;
}
.text {
	line-height: 5vw;
	padding: 1vw;
}
.memo {font-size:55%;}
.red {font-size:55%; color:red; display:inline-block; line-height:145%; margin:0 0; padding:0;}
.chishima {position:relative; padding-left: 1vw; top:1vw;}
.chishima img {width:35vw;}
.message {
	display:inline-block;
	float:left;
	position:relative;
	top:0; right:0;
	width:58%;
	margin:1vw 0 1vw 2.5%;
	font-size:2.25vw;
	background:linear-gradient(55deg, #25AF5A, #f6d435, #D24117);
	background-size: 200% 200%;
	animation: gradientBG 2.5s ease infinite;
}
.message p {
	text-align:center;
	margin:0 0 2.5vw;
}
.yes:after {content:"けど、できない";}
.no:after {content:"けど、気になる";}
.or:after {content:"けど、やってみたい";}
.yes:after, .no:after, .or:after {
	color:#25AF5A;
  position:relative;
  padding-left: 0.5rem; font-size:90%;
  -webkit-text-stroke: 0.125vw #FFF;
  text-stroke: 0.125vw #FFF;
}
.chotto:before {
	content:"ちょっとクレイジーな";
	color:#f6d435;
	float:left;
	left:0;
	padding-right:0.5rem;
	position:relative;
	font-family: "MS Serif", "Times New Roman";
  -webkit-text-stroke: 0.15vw #FFF;
  text-stroke: 0.15vw #FFF;
}
.chotto:after {content:"あなたの";
  font-size: 150%;
  font-family: "Times New Roman", "Times", serif; color:#D24117;
  position:absolute; float:left; left:6.5vw;
  -webkit-text-stroke: 0.2vw #FFF;
  text-stroke: 0.2vw #FFF;
}
.crazy {
	font-style:italic;
	display:inline-block;
	font-size:4.5vw;
	padding:3.5vw 2.5vw 1vw;
	transform: scale(1, 2.5);
 font-family: "Times New Roman", "Times", serif; 
	color:#f6d435;
  -webkit-text-stroke: 0.2vw #FFF;
  text-stroke: 0.2vw #FFF;
}
.big {
	display:inline-block;
	padding:0 2.5vw;
	font-size:10vw;
	transform: scale(1, 2.5);
 font-family: "Times New Roman", "Times", serif; 
	color:#D24117;
  -webkit-text-stroke: 0.4vw #FFF;
  text-stroke: 0.4vw #FFF;
}
#credit {
	display:inline-block;
	float:right;
	top:0; right:0;
	width:32%;
	zoom:0.8;
	margin-top:0.25rem;
	margin-right:2.5%;
}
#limited {
	display:inline-block;
	float:right;
	top:0; right:0;
	width:95%;
	zoom:0.8;
	margin-top:0.25rem;
	margin-right:2.5%;
}
#credit h1 {
	font-size:2.5vw;
	font-weight:500;
	color:#000;
	line-height:175%;
}
.notice a,
#credit a,
#limited a {
	color:#fff;
  padding:0.5vw 1vw;
  background: linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
  text-decoration:none;
  background-size: 200% 200%;
  animation: gradientBG 1s ease infinite;
}
#credit #sub {
	line-height:100%;
}
#credit .text {
	padding:0;
	margin:1vw 0;
	display:inline-block;
	font-size:65%;
	line-height:150%;
}
#credit .contents {
	line-height:200%;
}
#ccm {float:right; position:relative; padding:1%; margin:1% 1% 0;}
#ccm span {position:relative; z-index:10; pointer-events:none;}
#gizagiza {
	font-size:2vw;
 position:relative;
	margin:5vw 0 0 7.5vw;
	width:15vw; height:15vw;
 background-color:#D24117;
 float:left;
}
#gizagiza a , #gizagiza a:after , #gizagiza a:before , #gizagiza a span {
 width:15vw; height:15vw;
  background-color:#D24117;
  position:absolute;
}
#gizagiza a span {
	position:absolute;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  text-align: center;
  color: #fff;
}
#gizagiza , #gizagiza a , #gizagiza a:after , #gizagiza a:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}
#gizagiza a span b {
 font-family: "MS Serif", "Times New Roman", "Times", serif;
	font-style:italic;
	color:#f6d435;
	padding:7vw 0;
	line-height:2vw;
	display:block;
	height:9vw;
	transform: scale(1.25, 2.5);
}
#gizagiza a b:hover {
	color:#fff; 
	cursor:pointer;
}
#gizagiza span:after{
  content:"17名 の CCM を 紹介します。"; 
  font-size:2vw; letter-spacing: 0rem;color:#D24117;
  position:absolute; padding: 0.5vw 1vw;
  bottom:-12.5vw; left:-2.5vw; width:17.5vw;
  background-color:#f6d435;
}
#foot h1 {
	margin:1% 2%;
	display:inline-block;
	float:left;
	width:auto;
	font-size:2.5vw;
}
.reservation_form .note u {
	font-size:1.5vw;
}
.pehu {
	font-size:2vw;
	font-weight:500;
	font-family:"MS Mincho";
}
.pehu:after {
	content:"creative, community space";
	font-size:75%;
	margin-left:1em;
}
#schedule {font-size:1.5vw; margin:0 0; padding:0 2.5vw;}
#schedule div {padding:0.5vw 0; position:relative;}
#schedule div span {
pointer-events:none; 
position:relative; 
z-index:2; 
display:inline-block;
}

#schedule .date {
margin-left:1vw;
position:absolute;
background:#fff;
top:1vw;
}
#schedule .sub {
display:block;
font-size:200%;
overflow:hidden;
}
#schedule .sub u{
margin:0;
text-decoration:none;
display : inline-block;
padding-left: 100%;
white-space : nowrap;
animation : scrollSample01 10s linear infinite;
}
#schedule #none a,
#schedule .up a,
#schedule .tba a
{display:none;}
#schedule .now
{cursor:pointer;}
#schedule .up,
#schedule .tba
{pointer-events:none;}

#schedule .now .sub u:after {content:"します";}
#schedule .up .sub u:after {content:"します";}
#schedule .end .sub {color:#fff;}
#schedule .end .sub:before {
 content:"✔";
	position:absolute;
	font-size:125%;
	bottom:0; right:2.5vw;
 display:inline-block;
}
#schedule #link {
  position: absolute;
  margin:0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}
#schedule .end .sub u:after{
  content:"しました";
  color:#fff;
}
#schedule .cancel .sub u:after{
  content:"します";
}
#schedule .end {
  background:linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
  background-size:200% 200%;
  animation:gradientBG 1s ease infinite;
  cursor:pointer;
}
.notice a:hover,
#schedule #link:hover {
  background:linear-gradient(-55deg, #D24117, #f6d435, #25AF5A);
  background-size:200% 200%;
  animation:gradientBG 1s ease infinite;
	cursor:pointer;
}
#iframe {
	width:95%;
	height:50vw;
	margin:0 2.5%;
	border-radius:2.5vw;
}
.notice h1 {text-align:center; padding:0 0 5vw;}

/* Animation */
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@keyframes scrollSample01{
0% { transform: translateX(0)}
100% { transform: translateX(-100%)}
}
@media screen and (max-width: 500px){
	.message {
		width:92.5%;
		zoom:1;
	}
	#credit {
		width:95%; zoom:1;
		margin-bottom:0;
	}
}