body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Orchard";
  src: url(/font/Orchard-Linear.otf);
}

#container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  text-align: left;
  color: cornsilk;
  background-color: black;
  overflow: hidden;
}

#centerContainer {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 8em;
}



#field {
  font-family: "Orchard";
  width: calc(100vw - 2.5vw);
  height: calc(100vh - 2.5vh);
  column-fill: balance;
  position: absolute;
  padding: 1.25vw 2.5vw;
  top: 0;
  left: 0;
  text-align: justify;
  transition: all 0.5s;
}


#clockContainer {
  width: 70px;
  height: 70px;
  bottom: 5px;
  right: 5px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

#vertical {
  width: 12px;
  height: 70px;
  background-color: cornsilk;
  position: absolute;
  left: 29px;
}

#horizontal{
  width: 70px;
  height: 12px;
  position: absolute;
  top: 29px;
  background-color: cornsilk;
}
#mute-btn {
  color: cornsilk;
  position: fixed;
  padding: 25px;
  left: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
}

#mute-btn:hover {
  color: black;
  background-color: cornsilk;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 100vh;
  border: 0;
  transition: 0.25s;
  z-index: 1;
  border-radius: 2px;
}

.showNav {
  width: 400px!important;
}

.navClock {
  background-color: cornsilk!important;
}
