html, body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  animation: colorchange 40s linear infinite;
}

@keyframes colorchange
{
  0%   {background: rgba(255,255,255, .0);}
  25%  {background: rgba(125, 125, 215, .1);}
  50%  {background: rgba(0, 0, 0, .2.5);}
  75%  {background: rgba(125, 125, 125, .1);}
  100% {background: rgba(255,255,255, .0);}
}


#overtext{
	display: block;
	position: absolute;
	animation: Title 20s linear infinite;
	font-family: Space Mono, monospace;
    font-weight: normal;
    font-size: 600px;
    line-height: 1em;
    overflow: hidden;
    white-space:nowrap;
}


@keyframes Title {
	from {left:100%;}
	to {left:-420%;}
	}


#container{
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;

	font-family: Space Mono, monospace;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    animation: Text 40s linear infinite;
}

@keyframes Text {
	from {bottom:-100%;}
	to {bottom:470%;}
	}
